<a href="https://colab.research.google.com/github/Rohan-1103/Data-Science/blob/main/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
print("Data", "Science", "Mentorship", "Program", end = "-started-",  sep="-")
print("By", "CampusX", sep="-")

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.
- Formula: Fehrenheit = Celcius * (9/5) + 32

In [2]:
celsius = int(input("Enter temperature in celsius: "))
print(celsius, " degree celsius is: ", (celsius * (9/5) + 32)," Fahrenheit")

Enter temperature in celsius: 55
55  degree celsius is:  131.0  Fahrenheit

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.
Concept - [Temporary variable]

In [3]:
num1 = int(input("Enter number 1: "))
num2 = int(input("Enter number 2: "))
print("Before swap num1 = ", num1, " num2 = ", num2)
a = num2
num2 = num1
num1 = a
print("After swap num1 = ", num1, " num2 = ", num2)

Enter number 1: 11
Enter number 2: 31
Before swap num1 =  11  num2 =  31
After swap num1 =  31  num2 =  11

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.
- Formula: d =√[(x2 – x1)^2 + (y2 – y1)^2]

In [4]:
print("Enter coordinates for first value: ")
x1 = int(input())
y1 = int(input())
print("Enter coordinates for second value: ")
x2 = int(input())
y2 = int(input())
# print("Euclidean distance between two points is: ", x2 - x1, y2 - y1)
# print("Euclidean distance between two points is: ", (((x2**2 - x1**2) + (y2**2 - y1**2))**0.5))
print("Euclidean distance between two points is: ", (((x2 - x1)**2) + ((y2 - y1)**2))**0.5)

Enter coordinates for first value:
11
31
Enter coordinates for second value:
12
3
Euclidean distance between two points is:  28.0178514522438

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.
- Formula: (principle * interest rate * time) / 100

In [5]:
principle = int(input("enter the amount: "))
rate_of_interest = float(input("enter the interest rate: "))
time = float(input("enter the time period in years: "))
si = (principle * rate_of_interest * time)/100
print("Simple interest is: ", si)

enter the amount: 23000000
enter the interest rate: 2
enter the time period in years: 3
Simple interest is:  1380000.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

Concept = [Simultaneous Equation]

In [6]:
# Heads and legs problem

# Taking inputs
heads = int(input("Enter total number of heads: "))
legs = int(input("Enter total number of legs: "))

# dogs = d, chickens = c
# Equations:
# c + d = heads
# 2c + 4d = legs

# Solving
dogs = (legs - 2 * heads) // 2
chickens = heads - dogs

if dogs < 0 or chickens < 0 or (2 * chickens + 4 * dogs != legs):
    print("No valid solution")
else:
    print(f"Dogs -> {dogs}, Chickens -> {chickens}")

Enter total number of heads: 31
Enter total number of legs: 125
No valid solution

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [7]:
n = int(input("Enter number till u want sum of squares: "))
i = 1
sq_sm = 0
while(i <= n):
  sq_sm = sq_sm + i * i
  i+=1
print("Sum of square of numbers till ", n, " is: ", sq_sm)

Enter number till u want sum of squares: 10
Sum of square of numbers till  10  is:  385

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.
Formula: nth_term = t1 + (n - 1) * diff

In [8]:
# t1 = int(input("Enter 1st term of arithmetic series: "))
# t2 = int(input("Enter 2nd term of arithmetic series: "))
# n = int(input("Enter which term of series you want to find: "))
# diff = t2 - t1
# i = 3
# result = 1
# while(i < n):
#   result = result + (t2 + diff)
#   i+=1
# print("Nth term value is: ", result)
t1 = int(input("Enter 1st term of arithmetic series: "))
t2 = int(input("Enter 2nd term of arithmetic series: "))
n = int(input("Enter which term of series you want to find: "))

diff = t2 - t1
nth_term = t1 + (n - 1) * diff

print("Nth term value is:", nth_term)

Enter 1st term of arithmetic series: 7
Enter 2nd term of arithmetic series: 11
Enter which term of series you want to find: 10
Nth term value is: 43

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [9]:
n1 = float(input("Enter the numerator of 1st fraction: "))
d1 = float(input("Enter the denominator of 1st fraction: "))
n2 = float(input("Enter the numerator of 2nd fraction: "))
d2 = float(input("Enter the denominator of 2nd fraction: "))
f1 = n1/d1
f2 = n2/d2
sum = f1 + f2
print("Sum of the 2 fractions is: ", sum)

Enter the numerator of 1st fraction: 12.2
Enter the denominator of 1st fraction: 31.12
Enter the numerator of 2nd fraction: 11.3
Enter the denominator of 2nd fraction: 25.1
Sum of the 2 fractions is:  0.8422300515162998

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.

Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [10]:
Th = float(input("Enter height of the milk tank: "))
Tl = float(input("Enter length of the milk tank: "))
Tb = float(input("Enter breadth of the milk tank: "))

gh = float(input("Enter height of the glass: "))
gr = float(input("Enter radius of the glass: "))

t_vol = Tl * Tb * Th
g_vol = 3.14 * (gr ** 2) * gh

print("Vol. of tanker: ", t_vol)
print("Vol. of glass: ", g_vol)

print("We can  obtain ", t_vol/g_vol, " glasses of milk.")

Enter height of the milk tank: 11
Enter length of the milk tank: 12
Enter breadth of the milk tank: 3
Enter height of the glass: 31
Enter radius of the glass: 12
Vol. of tanker:  396.0
Vol. of glass:  14016.960000000001
We can  obtain  0.028251489623998354  glasses of milk.