<a href="https://colab.research.google.com/github/Rohan-1103/Data-Science/blob/main/session_27_web_scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

# if response code is 403
 - headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
 -requests.get('url',headers=headers).text

In [13]:
# import requests

# headers = {
#     'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'
# }

# url = 'https://www.ambitionbox.com/list-of-companies?page=1'
# webpage = requests.get(url, headers=headers).content

In [14]:
# soup=BeautifulSoup(webpage,'lxml')

In [15]:
#print(soup.prettify())

In [16]:
# soup.find_all('h1')[0].text

# TO FIND OUT NAMES OF THE COMPANIES

In [17]:
# for i in soup.find_all('h2'):
  # print(i.text.strip())

In [18]:
# for i in soup.find_all('p'):
#   print(i.text.strip())

In [ ]:
#for in soup.find_all('p'):
  #print(i.text.strip())

## TO FIND OUT THE RATINGS

In [19]:
# len(soup.find_all('p',class_='rating'))

## TO FIND OUT THE NUMBER OF REVIEWS

In [20]:
# len(soup.find_all('a' , class_='review-count'))

# CONSIDERING THE WHOLE CONTAINER

In [21]:
# company=soup.find_all('div',class_='company-content-wrapper')

In [22]:
# len(company)

In [23]:
# name=[]
# rating=[]
# reviews=[]
# ctype=[]
# hq=[]
# how_old=[]
# no_of_employee=[]

# for i in company:

#   name.append(i.find('h2').text.strip())
#   rating.append(i.find('p',class_='rating').text.strip())
#   reviews.append(i.find('a' , class_='review-count').text.strip())
#   ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
#   hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
#   how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
#   no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())

# df=pd.DataFrame({'name':name,
#    'rating':rating,
#    'reviews':reviews,
#    'company_type':ctype,
#    'Head_Quarters':hq,
#    'Company_Age':how_old,
#    'No_of_Employee':no_of_employee,
#    })

In [24]:
# name

In [25]:
# rating

In [26]:
# reviews

In [27]:
# ctype

In [28]:
# hq

In [29]:
# how_old

In [ ]:
# no_of_employee

['10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees']

In [ ]:
# df.shape

(30, 7)

# creating dataframe for all the pages

In [ ]:
# final=pd.DataFrame()
# for j in range(1,1001):
#   webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page={}'.format(j)).text
#   soup=BeautifulSoup(webpage,'lxml')
#   company=soup.find_all('div',class_='company-content-wrapper')
#   name=[]
#   rating=[]
#   reviews=[]
#   ctype=[]
#   hq=[]
#   how_old=[]
#   no_of_employee=[]

#   for i in company:

#     try:
#        name.append(i.find('h2').text.strip())
#     except:
#        name.append(np.nan)

#     try:
#        rating.append(i.find('p',class_='rating').text.strip())
#     except:
#        rating.append(np.nan)

#     try:

#       reviews.append(i.find('a' , class_='review-count').text.strip())
#     except:
#       reviews.append(np.nan)

#     try:

#       ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
#     except:
#       ctype.append(np.nan)
#     try:

#       hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
#     except:
#       hq.append(np.nan)

#     try:

#       how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
#     except:
#       how_old.append(np.nan)
#     try:
#       no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())
#     except:
#       no_of_employee.append(np.nan)


#   df=pd.DataFrame({'name':name,
#     'rating':rating,
#     'reviews':reviews,
#     'company_type':ctype,
#     'Head_Quarters':hq,
#     'Company_Age':how_old,
#     'No_of_Employee':no_of_employee,
#     })

#   final=final.append(df,ignore_index=True)

In [ ]:
# df.sample(5)

                           name rating  ...    Company_Age    No_of_Employee
2               Bank of America    4.3  ...   22 years old  10000+ employees
22               R.R. Donnelley    4.1  ...  156 years old  10000+ employees
11  Mahindra Holidays & Reso...    3.9  ...   24 years old  10000+ employees
23  GVK Emergency Management...    3.9  ...   15 years old  10000+ employees
9            Itc Infotech India    3.4  ...   20 years old  10000+ employees

[5 rows x 7 columns]

In [ ]:
# df.shape

(30, 7)

In [ ]:
# final.shape

(30000, 7)