<a href="https://colab.research.google.com/github/Rohan-1103/Data-Science/blob/main/session_2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

<hr>

- Formulas:
  - After deduction = Salary - Salary * 0.tax
  - Monthly = After deduction / 12

In [2]:
salary = float(input("Enter Salary in Lakhs: "))
if salary < 5:
  after_deduction = salary - salary * 0.18
  monthly_inhand = after_deduction/12
  print("In hand monthly salary after deduction: ", monthly_inhand)
elif salary >= 5 or salary < 10:
  after_deduction = salary - salary * 0.28
  monthly_inhand = after_deduction/12
  print("In hand monthly salary after deduction: ", monthly_inhand)
elif salary >= 10 or salary < 20:
  after_deduction = salary - salary * 0.38
  monthly_inhand = after_deduction/12
  print("In hand monthly salary after deduction: ", monthly_inhand)
elif salary > 20:
  after_deduction = salary - salary * 0.48
  monthly_inhand = after_deduction/12
  print("In hand monthly salary after deduction: ", monthly_inhand)

Enter Salary in Lakhs: 470000
In hand monthly salary after deduction:  28200.0

### `Problem 2`: Write a program that take a user input of three angles/sides and will find out whether it can form a triangle or not.

In [3]:
# What is a valid triangle: Sum of length of any 2 sides is > other side
side1 = float(input("Enter side 1 length: "))
side2 = float(input("Enter side 2 length: "))
side3 = float(input("Enter side 3 length: "))

if side1 + side2 > side3 or side1 + side3 > side2 or side2 + side3 > side1:
  print("These lengths can form a valid triangle.")
else:
  print("These lengths can not form a valid triangle.")

Enter side 1 length: 6
Enter side 2 length: 3
Enter side 3 length: 1
These lengths can form a valid triangle.

A triangle is valid if the sum of its three angles is exactly \(180\) degrees, and each angle is greater than \(0\) degrees.

In [4]:
a1 = float(input("Enter angle 1: "))
a2 = float(input("Enter angle 2: "))
a3 = float(input("Enter angle 3: "))

if a1 <= 0 or a2 <= 0 or a3 <= 0:
  print("None of the angle should be 0 or less. Hence not a valid triangle")
elif a1 + a2 + a3 != 180:
  print("Not a valid triangle. As sum of angles is not 180.")
else:
  print("Valid triangle.")

Enter angle 1: 15
Enter angle 2: 45
Enter angle 3: 75
Not a valid triangle. As sum of angles is not 180.

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [5]:
cost_price = float(input("Enter cost price of the product: "))
selling_price = float(input("Enter selling price of the product: "))

if selling_price < cost_price:
  print("It's a Loss.")
else:
  print("It's a Profitable sale.")

Enter cost price of the product: 12000
Enter selling price of the product: 13000
It's a Profitable sale.

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [6]:
option = input(
"""
Enter 1: To Convert CM to Ft
Enter 2: To Convert KM to Miles
Enter 3: To Convert USD to INR
Enter 4: To Exit.
""")

if option == '1':
  cm = float(input("Enter centimeter length: "))
  print(cm, "centimetres is ", cm / 30.48, "feet.")
if option == '2':
  km = float(input("Enter distance in KM: "))
  print(km, " kilometers is ", km * 0.6213, " miles.")
if option == '3':
  usd = float(input("Enter amount in US Dollers: "))
  print(usd, " USD is: ", usd * 87.72, " INR.")
if option == '4':
  exit()

Enter 1: To Convert CM to Ft
Enter 2: To Convert KM to Miles
Enter 3: To Convert USD to INR
Enter 4: To Exit.
1
Enter centimeter length: 132
132.0 centimetres is  4.330708661417323 feet.

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [7]:
t1 = 0
t2 = 1
count = 3
print(t1, "    ", t2, end = "\t")
while(count <= 10):
  t3 = t1 + t2
  print(t3, end="\t")
  t1, t2 = t2, t3
  count+=1

0      1	1	2	3	5	8	13	21	34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [8]:
fact = 1
num = int(input("Enter number you want to find factorial of: "))
while(num >= 1):
  fact = fact * num
  num-=1
print("Factorial is", fact)

Enter number you want to find factorial of: 9
Factorial is 362880

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [9]:
num = int(input("Enter number you want to reverse: "))
rev = 0
while(num):
  dig = num % 10
  rev = rev * 10 + dig
  num = num // 10
print("Reversed number: ", rev)

Enter number you want to reverse: 1316464
Reversed number:  4646131

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [10]:
# n = int(input("Enter number value: "))

# i = 1
# total = 0

# while i <= n:
#     if i % 5 == 0:  # skip multiples of 5
#         i += 1
#         continue
#     total += i
#     if total > 300:  # stop if sum exceeds 300
#         break
#     i += 1

# print(total)
n = int(input("Enter number value: "))
i = 1
total = 0
while i <= n:
    if i % 5 == 0:
        i += 1
        continue
    if total + i > 300:       # Check condition before adding to total
        break
    total += i
    i += 1
print(total)

Enter number value: 8
31

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [11]:
sum = 0
count = 0
while(1):
  num = int(input("Enter a number: "))
  if num == 0:
    break
  sum += num
  count += 1
  avg = sum / count
  print(avg)

Enter a number: 100
100.0
Enter a number: 300
200.0
Enter a number: 320
240.0
Enter a number: 40
190.0
Enter a number: 0

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [12]:
for _ in range(2000, 3201):
  if _ % 7 == 0:
    print(_, sep = ',', end = " ")

2002 2009 2016 2023 2030 2037 2044 2051 2058 2065 2072 2079 2086 2093 2100 2107 2114 2121 2128 2135 2142 2149 2156 2163 2170 2177 2184 2191 2198 2205 2212 2219 2226 2233 2240 2247 2254 2261 2268 2275 2282 2289 2296 2303 2310 2317 2324 2331 2338 2345 2352 2359 2366 2373 2380 2387 2394 2401 2408 2415 2422 2429 2436 2443 2450 2457 2464 2471 2478 2485 2492 2499 2506 2513 2520 2527 2534 2541 2548 2555 2562 2569 2576 2583 2590 2597 2604 2611 2618 2625 2632 2639 2646 2653 2660 2667 2674 2681 2688 2695 2702 2709 2716 2723 2730 2737 2744 2751 2758 2765 2772 2779 2786 2793 2800 2807 2814 2821 2828 2835 2842 2849 2856 2863 2870 2877 2884 2891 2898 2905 2912 2919 2926 2933 2940 2947 2954 2961 2968 2975 2982 2989 2996 3003 3010 3017 3024 3031 3038 3045 3052 3059 3066 3073 3080 3087 3094 3101 3108 3115 3122 3129 3136 3143 3150 3157 3164 3171 3178 3185 3192 3199

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [13]:
for j in range(1000, 3001):
  num = j
  dig1 = num % 10
  num //= 10

  dig2 = num % 10
  num //= 10

  dig3 = num % 10
  num //= 10

  dig4 = num
  if dig1 % 2 == 0 and dig2 % 2 == 0 and dig3 % 2 == 0 and dig4 % 2 == 0:
    print(j, end = " ", sep = " ")

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [14]:
# start_x = 0
# start_y = 0
# up = int(input("How many steps robot moves up: "))
# down = int(input("How many steps robot moves down: "))
# left = int(input("How many steps robot moves left: "))
# right = int(input("How many steps robot moves right: "))
# final_x = up - down
# final_y = right - left
# final = final_x - final_y
# print(final)

import math

start_x = 0
start_y = 0

up = int(input("How many steps robot moves up: "))
down = int(input("How many steps robot moves down: "))
left = int(input("How many steps robot moves left: "))
right = int(input("How many steps robot moves right: "))

# Final coordinates after movement
final_x = start_x + (right - left)
final_y = start_y + (up - down)

# Euclidean distance from origin
distance = math.sqrt(final_x**2 + final_y**2)

print(round(distance))

How many steps robot moves up: 0
How many steps robot moves down: 0
How many steps robot moves left: 0
How many steps robot moves right: 1
1

In [15]:
import math

x = 0
y = 0

while True:
    move = input("Enter movement or ! to stop: ").strip()
    if move == "!":
        break

    direction, steps = move.split()
    steps = int(steps)

    if direction.upper() == "UP":
        y += steps
    elif direction.upper() == "DOWN":
        y -= steps
    elif direction.upper() == "LEFT":
        x -= steps
    elif direction.upper() == "RIGHT":
        x += steps

distance = math.sqrt(x**2 + y**2)
print(round(distance))

Enter movement or ! to stop: !
0

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [16]:
# 11%0

In [17]:
num = int(input("Enter a number to check whether it is prime number or not: "))
if num <= 1:
  print("Not a prime number.")
prime = 1
for _ in range(2, int(num**0.5)):
  if num % _ == 0:
    prime = 0
    break
if prime == 0:
  print("Not a prime number.")
else:
  print("Is a prime number.")

Enter a number to check whether it is prime number or not: 65
Not a prime number.

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [18]:
upper = int(input("Enter range of numbers: "))

for i in range(0, upper):
    num = i
    cube_sum = 0
    temp = num
    while temp > 0:
        dig = temp % 10
        cube_sum += dig ** 3
        temp //= 10
    if cube_sum == num:
        print(num, end=" ")

Enter range of numbers: 2632
0 1 153 370 371 407

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [19]:
# Input
H = int(input("Enter hour: "))
M = int(input("Enter minutes: "))

# Step 1: Calculate positions of hour and minute hands
hour_angle = (H % 12) * 30 + (M * 0.5)   # 30 degrees per hour + half degree per minute
minute_angle = M * 6                     # 6 degrees per minute

# Step 2: Find the absolute difference
angle = abs(hour_angle - minute_angle)

# Step 3: Take the smaller angle
min_angle = min(angle, 360 - angle)

# Step 4: Floor the angle
print(int(min_angle))

Enter hour: 13
Enter minutes: 12
36

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [20]:
x1 = int(input("Enter x coordinate of rectangle 1: "))
y1 = int(input("Enter y coordinate of rectangle 1: "))
x2 = int(input("Enter x coordinate of rectangle 2: "))
y2 = int(input("Enter y coordinate of rectangle 2: "))

# check if 2 rectangles overlap

if x1 < x2 or y1 < x2:
  print("The rectangles overlap.")
else:
  print("The rectangles do not overlap.")

Enter x coordinate of rectangle 1: 11
Enter y coordinate of rectangle 1: 3
Enter x coordinate of rectangle 2: 31
Enter y coordinate of rectangle 2: 12
The rectangles overlap.