<a href="https://colab.research.google.com/github/Rohan-1103/Data-Science/blob/main/session2_operators_if_else_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators in Python

- Arithmetic Operators
- Relational Operators
- Logical Operators
- Bitwise Operators
- Assignment Operators
- Membership Operators

In [29]:
# Arithmetric Operators
print(5+6)

print(5-6)

print(5*6)

print(5/2)

print(5//2)

print(5%2)
# Power off operator
print(5**2)

11
-1
30
2.5
2
1
25

In [30]:
# Relational Operators: Returns boolean
print(4>5)

print(4<5)

print(4>=4)

print(4<=4)

print(4==4)

print(4!=4)

False
True
True
True
True
False

In [31]:
# Logical Operators
print(1 and 0)

print(1 or 0)

print(not 1)

0
1
False

In [32]:
# Bitwise Operators

# bitwise and
print(2 & 3)

# bitwise or
print(2 | 3)

# bitwise xor
print(2 ^ 3)

# bitwise not
print(~3)

# bitwise right shift
print(4 >> 2)

# bitwise left shift
print(5 << 2)

2
3
1
-4
1
20

In [33]:
# Assignment Operators

# =
# a = 2

a = 2

# a = a % 2
a %= 2

# a++ ++a

print(a)

0

In [34]:
# Membership Operators (Important)

# in/not in

print('D' not in 'Delhi')

print(1 in [2,3,4,5,6])

False
False

In [35]:
# Identity Operator
a = [1, 2, 3]
b = a             # b refers to the same object as a
c = [1, 2, 3]     # c is a different object with the same content

print(a is b)      # True  → because a and b point to the same object
print(a is c)      # False → because a and c are different objects
print(a == c)      # True  → because a and c have the same content
print(a is not c)  # True  → because a and c are not the same object

True
False
True
True

In [36]:
# Program - Find the sum of a 3 digit number entered by the user

number = int(input('Enter a 3 digit number'))

# 345%10 -> 5
a = number%10

number = number//10

# 34%10 -> 4
b = number % 10

number = number//10
# 3 % 10 -> 3
c = number % 10

print(a + b + c)

Enter a 3 digit number321
6

# If-else in Python

In [37]:
# login program and indentation
# email -> rohangoswami1134@gmail.com
# password -> 1234

email = input('enter email: ')
password = input('enter password: ')

if email == 'rohangoswami1134@gmail.com' and password == '1234':
  print('Welcome')
elif email == 'rohangoswami1134@gmail.com' and password != '1234':
  # tell the user
  print('Incorrect password')
  password = input('enter password again: ')
  if password == '1234':
    print('Welcome,finally!')
  else:
    print('Beta tumse na ho paayega!')
else:
  print('Not correct')

enter email: adfja;ds
enter password: adsfa
Not correct

In [38]:
# if-else examples
# 1. Find the min of 3 given numbers
# 2. Menu Driven Program

In [39]:
# min of 3 number

a = int(input('first num: '))
b = int(input('second num: '))
c = int(input('third num: '))

if a<b and a<c:
  print('smallest is ',a)
elif b<c:
  print('smallest is ',b)
else:
  print('smallest is ',c)

first num: 11
second num: 3
third num: 31
smallest is  3

In [40]:
# menu driven calculator
menu = input("""
Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
""")

if menu == '1':
  updated_pin = input("Enter new pin: ")
  print("Updated pin is: ", updated_pin)
elif menu == '2':
  print('Available balance in account is: XYZ')
elif menu == '3':
  withd_amt = input("Enter the amount you want to withdraw: ")
  print(withd_amt, " rupees withdrawn.")
elif menu == '4':
  exit()
else:
  print('exit')

Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
4

# Modules in Python

- math
- keywords
- random
- datetime

In [41]:
# math
import math

print(math.sqrt(196))
print(math.factorial(5))
# math.

14.0
120

In [42]:
# keyword
import keyword
print(keyword.kwlist)
# keyword.

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [43]:
# random
import random
print(random.randint(1,100))
print(random.random())
print(random.randrange(1, 100))

18
0.11038751486127985
85

In [44]:
# datetime
import datetime
print(datetime.datetime.now())

2025-08-07 05:34:15.248050

In [45]:
# help('modules')     # Somehow error

# Loops in Python

- Need for loops
- While Loop
- For Loop

In [46]:
# While loop example -> program to print the table
# Program -> Sum of all digits of a given number
# Program -> keep accepting numbers from users till he/she enters a 0 and then find the avg

In [47]:
number = int(input('enter the number: '))

i = 1

while i<11:
  print(number,'*',i,'=',number * i)
  i += 1

enter the number: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [48]:
# while loop with else

x = 1

while x < 3:
  print(x)
  x += 1

else:
  print('limit crossed')

1
2
limit crossed

In [49]:
# Guessing game

# generate a random integer between 1 and 100
import random
jackpot = random.randint(1,100)

guess = int(input('guess karo: '))
counter = 1
while guess != jackpot:
  if guess < jackpot:
    print('galat!guess higher')
  else:
    print('galat!guess lower')

  guess = int(input('guess karo: '))
  counter += 1

else:
  print('correct guess')
  print('attempts',counter)

guess karo: 66
galat!guess higher
guess karo: 98
galat!guess lower
guess karo: 78
galat!guess lower
guess karo: 75
galat!guess higher
guess karo: 76
galat!guess higher
guess karo: 77
correct guess
attempts 6

In [50]:
# For loop demo
for i in {1,2,3,4,5}:
  print(i)

1
2
3
4
5

### Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [51]:
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop - 0.1*curr_pop

10 10000
9 9000.0
8 8100.0
7 7290.0
6 6561.0
5 5904.9
4 5314.41
3 4782.969
2 4304.6721
1 3874.20489

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [52]:
# code here

In [53]:
# For loop vs While loops (When to use what?)

# Nested Loops

In [54]:
# Examples

In [55]:
# Program - Unique combination of 1,2,3,4
# Program - Pattern 1 and 2

### Pattern 1


*** <br>
**** <br>
***<br>

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

# Loop Control Statement

- Break
- Continue
- Pass

In [ ]:
# Break demo

In [ ]:
# Break example (Linear Search) -> Prime number in a given range

In [ ]:
# Continue demo

In [ ]:
# Continue Example (Ecommerce)

In [ ]:
# Pass demo