<a href="https://colab.research.google.com/github/Rohan-1103/Data-Science/blob/main/session_5_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [22]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
result_list = []

for i in range(len(test_list)):
  result_list.append(test_list[i])
  if result_list[-1][0] == test_list[i][0]:
    # result_list[i] += (test_list[i+1])
    result_list[-1] += (test_list[i][1],)
print(result_list)

[(5, 6, 6), (5, 7, 7), (5, 8, 8), (6, 10, 10), (7, 13, 13)]

In [23]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
result_list = []

for i in range(len(test_list)):
    if result_list and result_list[-1][0] == test_list[i][0]:
        # merge with the last tuple in result_list
        result_list[-1] += (test_list[i][1],)
    else:
        # start a new group
        result_list.append(test_list[i])

print(result_list)

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [45]:
tup = (1, 5, 7, 8, 10)

sum = 1
result = []

for i in range(len(tup)-1):
  if(tup[i+1]):
    sum = tup[i]*tup[i+1] + tup[i-1] * tup[i]
    result.append(sum)
  elif(tup[i-1]):
    # sum = tup[i-1]*tup[i] + tup[i]*tup[i+1]
    sum = tup[i-1]*tup[i]
    result.append(sum)
  else:
    sum = tup[i-1]*tup[i]
    # result += sum
    result.append(sum)

print(result)

[15, 40, 91, 136]

In [46]:
tup = (1, 5, 7, 8, 10)
result = []

for i in range(len(tup)):
    if i == 0:  # first element
        result.append(tup[i] * tup[i+1])
    elif i == len(tup) - 1:  # last element
        result.append(tup[i] * tup[i-1])
    else:  # middle elements
        result.append(tup[i] * tup[i-1] + tup[i] * tup[i+1])

print(tuple(result))

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [24]:
t1 = (1,2,3,0)
t2 = (0,1,2,3)
if t1 == t2:
  print("t1 and t2 are same.")
else:
  print("t1 and t2 are not same.")

t1 and t2 are not same.

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [48]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

List, Set, Tuples = (0, 0, 0)

for i in list1:
  if type(i) == tuple:
    Tuples += 1
  if type(i) == list:
    List += 1
  if type(i) == set:
    Set += 1

print("List-",List)
print("Set-",Set)
print("Tuples-",Tuples)

List- 2
Set- 2
Tuples- 1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [49]:
# Input number of student records
n = int(input("Enter No of records- "))

students = []

# Taking student records
for i in range(1, n+1):
    print(f"Enter Details of student-{i}")
    name = input("Enter Student name- ")
    edu = input("Enter Higher Education- ")
    skill = input("Enter Primary Skill- ")
    grad_year = input("Enter Year of Graduation- ")

    students.append((name, edu, skill, grad_year))

# Job role requirement
print("\nEnter Job Role Requirement")
req_skill = input("Enter Skill- ")
req_edu = input("Enter Higher Education- ")
req_grad_year = input("Enter Year of Graduation- ")

# Filtering students
matches = [
    student for student in students
    if student[1].lower() == req_edu.lower()
    and student[2].lower() == req_skill.lower()
    and student[3] == req_grad_year
]

# Output results
if matches:
    for match in matches:
        print(match)
else:
    print("No such candidate")

Enter No of records- 3
Enter Details of student-1
Enter Student name- Rohan Goswami
Enter Higher Education- MCA
Enter Primary Skill- Data Visualization
Enter Year of Graduation- 2026
Enter Details of student-2
Enter Student name- Kiran Goswami
Enter Higher Education- MSC
Enter Primary Skill- Pledgerism
Enter Year of Graduation- 2022
Enter Details of student-3
Enter Student name- Mahek Jhangiani
Enter Higher Education- Bcom
Enter Primary Skill- Customer Service
Enter Year of Graduation- 2027

Enter Job Role Requirement
Enter Skill- Data Visualization
Enter Higher Education- MCA
Enter Year of Graduation- 2026
('Rohan Goswami', 'MCA', 'Data Visualization', '2026')

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [51]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

print(set(ar1) & set(ar2) & set(ar3))

{80, 20}

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [54]:
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"

count = 0

for i in set(Str1):
  if i in ["a", "e", "i", "o", "u", "A", "E", "I", "O", "U"]:
    count += 1

print("No of unique vowels-", count)

No of unique vowels- 28

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [56]:
str2 = "Campusx"
if len({i for i in (str2)}) == 2:
  print("Yes")
else:
  print("No")

No

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [65]:
arr = [
    [1, 2, 2, 4, 3, 6],
    [5, 1, 3, 4],
    [9, 5, 7, 1],
    [2, 4, 1, 3]
]

union_set = set()

for sublist in arr:
    union_set.update(sublist)  # Add all elements from current sublist

print(union_set)

{1, 2, 3, 4, 5, 6, 7, 9}

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [66]:
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

lst3 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst4 = {9, 9, 74, 21, 45, 11, 63, 28, 26}

print(set(lst1) & set(lst2))
print(set(lst3) & set(lst4))

{9, 10, 4, 5}
{9, 26, 11, 28}

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [ ]:
# write your code here

### `Q2`: Replace words from Dictionary. Given String, replace it’s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [ ]:
# write your code here

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [ ]:
# write your code here

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [ ]:
# write your code here

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [ ]:
# write your code here