<a href="https://colab.research.google.com/github/Rohan-1103/Data-Science/blob/main/session_27_web_scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

# if response code is 403
 - headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
 -requests.get('url',headers=headers).text

In [56]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers=headers).text

'<HTML><HEAD>\n<TITLE>Access Denied</TITLE>\n</HEAD><BODY>\n<H1>Access Denied</H1>\n \nYou don\'t have permission to access "http&#58;&#47;&#47;www&#46;ambitionbox&#46;com&#47;list&#45;of&#45;companies&#63;" on this server.<P>\nReference&#32;&#35;18&#46;aff10f17&#46;1763572158&#46;1fb57315\n<P>https&#58;&#47;&#47;errors&#46;edgesuite&#46;net&#47;18&#46;aff10f17&#46;1763572158&#46;1fb57315</P>\n</BODY>\n</HTML>\n'

In [54]:
soup=BeautifulSoup(webpage,'lxml')

In [55]:
print(soup.prettify())

<html>
 <head>
  <title>
   Access Denied
  </title>
 </head>
 <body>
  <h1>
   Access Denied
  </h1>
  You don't have permission to access "http://www.ambitionbox.com/list-of-companies?" on this server.
  <p>
   Reference #18.aff10f17.1763572107.1fb4bddf
  </p>
  <p>
   https://errors.edgesuite.net/18.aff10f17.1763572107.1fb4bddf
  </p>
 </body>
</html>

In [40]:
soup.find_all('h1')[0].text

'Access Denied'

# TO FIND OUT NAMES OF THE COMPANIES

In [41]:
for i in soup.find_all('h2'):
  print(i.text.strip())

In [42]:
for i in soup.find_all('p'):
  print(i.text.strip())

Reference #18.aff10f17.1763571946.1fb272fc
https://errors.edgesuite.net/18.aff10f17.1763571946.1fb272fc

In [44]:
for i in soup.find_all('p'):
  print(i.text.strip())

Reference #18.aff10f17.1763571946.1fb272fc
https://errors.edgesuite.net/18.aff10f17.1763571946.1fb272fc

## TO FIND OUT THE RATINGS

In [45]:
len(soup.find_all('p',class_='rating'))

0

## TO FIND OUT THE NUMBER OF REVIEWS

In [20]:
# len(soup.find_all('a' , class_='review-count'))

# CONSIDERING THE WHOLE CONTAINER

In [21]:
# company=soup.find_all('div',class_='company-content-wrapper')

In [22]:
# len(company)

In [23]:
# name=[]
# rating=[]
# reviews=[]
# ctype=[]
# hq=[]
# how_old=[]
# no_of_employee=[]

# for i in company:

#   name.append(i.find('h2').text.strip())
#   rating.append(i.find('p',class_='rating').text.strip())
#   reviews.append(i.find('a' , class_='review-count').text.strip())
#   ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
#   hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
#   how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
#   no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())

# df=pd.DataFrame({'name':name,
#    'rating':rating,
#    'reviews':reviews,
#    'company_type':ctype,
#    'Head_Quarters':hq,
#    'Company_Age':how_old,
#    'No_of_Employee':no_of_employee,
#    })

In [24]:
# name

In [25]:
# rating

In [26]:
# reviews

In [27]:
# ctype

In [28]:
# hq

In [29]:
# how_old

In [ ]:
# no_of_employee

['10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees']

In [ ]:
# df.shape

(30, 7)

# creating dataframe for all the pages

In [31]:
final = pd.DataFrame()
for j in range(1, 1001):
    webpage = requests.get(f'https://www.ambitionbox.com/list-of-companies?page={j}').text
    soup = BeautifulSoup(webpage, 'lxml')
    company = soup.find_all('div', class_='company-content-wrapper')

    name = []
    rating = []
    reviews = []
    ctype = []
    hq = []
    how_old = []
    no_of_employee = []

    for i in company:
        try:
            name.append(i.find('h2').text.strip())
        except:
            name.append(np.nan)

        try:
            rating.append(i.find('p', class_='rating').text.strip())
        except:
            rating.append(np.nan)

        try:
            reviews.append(i.find('a', class_='review-count').text.strip())
        except:
            reviews.append(np.nan)

        try:
            ctype.append(i.find_all('p', class_='infoEntity')[0].text.strip())
        except:
            ctype.append(np.nan)

        try:
            hq.append(i.find_all('p', class_='infoEntity')[1].text.strip())
        except:
            hq.append(np.nan)

        try:
            how_old.append(i.find_all('p', class_='infoEntity')[2].text.strip())
        except:
            how_old.append(np.nan)

        try:
            no_of_employee.append(i.find_all('p', class_='infoEntity')[3].text.strip())
        except:
            no_of_employee.append(np.nan)

    df = pd.DataFrame({
        'name': name,
        'rating': rating,
        'reviews': reviews,
        'company_type': ctype,
        'Head_Quarters': hq,
        'Company_Age': how_old,
        'No_of_Employee': no_of_employee,
    })

    final = pd.concat([final, df], ignore_index=True)

In [34]:
final

Empty DataFrame
Columns: [name, rating, reviews, company_type, Head_Quarters, Company_Age, No_of_Employee]
Index: []

In [35]:
df

Empty DataFrame
Columns: [name, rating, reviews, company_type, Head_Quarters, Company_Age, No_of_Employee]
Index: []

In [ ]:
# df.shape

(30, 7)

In [ ]:
# final.shape

(30000, 7)