<a href="https://colab.research.google.com/github/Rohan-1103/Data-Science/blob/main/session_27_export.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Pandas Export

- to csv
- to excel
- to html
- to json
- to sql

In [1]:
import pandas as pd
df = pd.DataFrame()

In [3]:
# df.to

## to_csv

In [4]:
df = pd.read_csv('deliveries.csv')
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,4.0,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,NaN,NaN

In [5]:
temp_df = df.groupby('batsman')['batsman_runs'].sum().reset_index()

In [6]:
temp_df.to_csv('batsman_runs.csv',index=False)

In [7]:
df.pivot_table(index='batsman',columns='bowling_team',values='batsman_runs',aggfunc='sum').to_csv('batsman_vs_team.csv')

## to_excel

In [8]:
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,4.0,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72271,307,1,Chennai Super Kings,Royal Challengers Bangalore,8,6,MEK Hussey,M Vijay,A Mithun,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,NaN,NaN,NaN
72272,307,1,Chennai Super Kings,Royal Challengers Bangalore,9,1,M Vijay,MEK Hussey,DL Vettori,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,NaN,NaN,NaN
72273,307,1,Chennai Super Kings,Royal Challengers Bangalore,9,2,M Vijay,MEK Hussey,DL Vettori,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,NaN,NaN,NaN
72274,307,1,Chennai Super Kings,Royal Challengers Bangalore,9,3,MEK Hussey,M Vijay,DL Vettori,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
72275,307,1,Chennai Super Kings,Royal Challengers Bangalore,9,4,MEK Hussey,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
temp_df = df.groupby('batsman')['batsman_runs'].sum().reset_index()

In [10]:
temp_df

           batsman  batsman_runs
0         A Chopra          53.0
1      A Choudhary          25.0
2       A Flintoff          62.0
3         A Kumble          35.0
4         A Mishra         219.0
..             ...           ...
381    YV Takawale          88.0
382  Yashpal Singh          47.0
383    Younis Khan           3.0
384   Yuvraj Singh        1493.0
385         Z Khan          70.0

[386 rows x 2 columns]

In [11]:
temp_df.to_excel("batsman_runs.xlsx")

In [12]:
temp_df.to_excel("output.xlsx",sheet_name='batsman_runs')

In [13]:
temp_df2 = df.pivot_table(index='batsman',columns='bowling_team',values='batsman_runs',aggfunc='sum')

In [14]:
with pd.ExcelWriter('output.xlsx') as writer:
    temp_df.to_excel(writer, sheet_name='Sheet_name_1')
    temp_df2.to_excel(writer, sheet_name='Sheet_name_2')

## to_html

In [15]:
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,4.0,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72271,307,1,Chennai Super Kings,Royal Challengers Bangalore,8,6,MEK Hussey,M Vijay,A Mithun,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,NaN,NaN,NaN
72272,307,1,Chennai Super Kings,Royal Challengers Bangalore,9,1,M Vijay,MEK Hussey,DL Vettori,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,NaN,NaN,NaN
72273,307,1,Chennai Super Kings,Royal Challengers Bangalore,9,2,M Vijay,MEK Hussey,DL Vettori,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,NaN,NaN,NaN
72274,307,1,Chennai Super Kings,Royal Challengers Bangalore,9,3,MEK Hussey,M Vijay,DL Vettori,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
72275,307,1,Chennai Super Kings,Royal Challengers Bangalore,9,4,MEK Hussey,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df.query('batsman_runs == 6').pivot_table(index='over',columns='ball',values='batsman_runs',aggfunc='count')

ball     1     2     3     4     5     6     7    8    9
over
1      3.0   3.0  10.0   8.0  11.0   8.0   7.0  1.0  NaN
2     12.0   7.0  14.0  15.0  18.0  14.0   5.0  3.0  NaN
3     24.0  12.0  27.0  16.0  19.0  24.0   2.0  NaN  NaN
4     24.0  26.0  22.0  29.0  21.0  18.0   5.0  1.0  NaN
5     28.0  24.0  39.0  29.0  17.0  18.0   2.0  1.0  NaN
6     25.0  27.0  21.0  26.0  25.0  19.0   3.0  1.0  NaN
7     13.0  18.0   8.0  18.0  18.0   9.0   1.0  NaN  NaN
8     19.0  22.0  21.0  10.0  23.0  14.0   3.0  NaN  NaN
9     25.0  21.0  24.0  23.0  26.0  16.0   6.0  NaN  NaN
10    15.0  17.0  20.0  21.0  16.0  22.0   4.0  NaN  NaN
11    26.0  26.0  19.0  22.0  23.0  21.0   3.0  NaN  NaN
12    24.0  19.0  29.0  33.0  23.0  20.0   3.0  1.0  NaN
13    29.0  32.0  25.0  34.0  30.0  28.0   2.0  NaN  NaN
14    23.0  29.0  40.0  31.0  20.0  27.0   1.0  1.0  NaN
15    22.0  32.0  30.0  33.0  34.0  27.0   4.0  1.0  NaN
16    23.0  37.0  35.0  29.0  35.0  25.0   4.0  1.0  NaN
17    28.0  34.0  31.0  32.0  40.0  28.0   7.0  NaN  NaN
18    26.0  36.0  38.0  46.0  38.0  34.0   5.0  NaN  NaN
19    19.0  38.0  40.0  41.0  49.0  33.0  10.0  2.0  2.0
20    38.0  32.0  29.0  42.0  31.0  31.0   5.0  2.0  NaN

In [16]:
df.query('batsman_runs == 6').pivot_table(index='over',columns='ball',values='batsman_runs',aggfunc='count').to_html('sixes_heatmap.html')

## to_json

In [17]:
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,4.0,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72271,307,1,Chennai Super Kings,Royal Challengers Bangalore,8,6,MEK Hussey,M Vijay,A Mithun,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,NaN,NaN,NaN
72272,307,1,Chennai Super Kings,Royal Challengers Bangalore,9,1,M Vijay,MEK Hussey,DL Vettori,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,NaN,NaN,NaN
72273,307,1,Chennai Super Kings,Royal Challengers Bangalore,9,2,M Vijay,MEK Hussey,DL Vettori,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,NaN,NaN,NaN
72274,307,1,Chennai Super Kings,Royal Challengers Bangalore,9,3,MEK Hussey,M Vijay,DL Vettori,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
72275,307,1,Chennai Super Kings,Royal Challengers Bangalore,9,4,MEK Hussey,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.groupby(['batting_team','batsman'])['batsman_runs'].sum().unstack()

batsman,A Chopra,A Choudhary,A Flintoff,A Kumble,A Mishra,A Mithun,A Mukund,A Nehra,A Singh,A Symonds,...,Y Nagar,Y Venugopal Rao,YA Abdulla,YK Pathan,YS Chahal,YV Takawale,Yashpal Singh,Younis Khan,Yuvraj Singh,Z Khan
batting_team,,,,,,,,,,,,,,,,,,,,,
Chennai Super Kings,NaN,NaN,62.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Deccan Chargers,NaN,NaN,NaN,NaN,68.0,NaN,NaN,NaN,NaN,839.0,...,NaN,446.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Delhi Daredevils,NaN,NaN,NaN,NaN,151.0,NaN,NaN,24.0,NaN,NaN,...,132.0,336.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
Gujarat Lions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kings XI Punjab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,898.0,NaN
Kochi Tuskers Kerala,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kolkata Knight Riders,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,426.0,NaN,NaN,47.0,NaN,NaN,NaN
Mumbai Indians,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,135.0,...,NaN,NaN,NaN,NaN,NaN,88.0,NaN,NaN,NaN,32.0
Pune Warriors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,343.0,NaN
Rajasthan Royals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,1029.0,NaN,NaN,NaN,3.0,NaN,NaN
Rising Pune Supergiant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Royal Challengers Bangalore,NaN,25.0,NaN,35.0,NaN,21.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,34.0
Sunrisers Hyderabad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,252.0,NaN

In [21]:
df.groupby(['batting_team','batsman'])['batsman_runs'].sum().unstack().to_json('batsman_runs.json')

## to_sql

In [22]:
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,4.0,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72271,307,1,Chennai Super Kings,Royal Challengers Bangalore,8,6,MEK Hussey,M Vijay,A Mithun,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,NaN,NaN,NaN
72272,307,1,Chennai Super Kings,Royal Challengers Bangalore,9,1,M Vijay,MEK Hussey,DL Vettori,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,NaN,NaN,NaN
72273,307,1,Chennai Super Kings,Royal Challengers Bangalore,9,2,M Vijay,MEK Hussey,DL Vettori,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,NaN,NaN,NaN
72274,307,1,Chennai Super Kings,Royal Challengers Bangalore,9,3,MEK Hussey,M Vijay,DL Vettori,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
72275,307,1,Chennai Super Kings,Royal Challengers Bangalore,9,4,MEK Hussey,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
!pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.3/45.3 kB 2.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [25]:
import pymysql
from sqlalchemy import create_engine

In [27]:
# engine = create_engine("mysql+pymysql://root:@localhost/ipl")
# # {root}:{password}@{url}/{database}
# df.to_sql('ipl_delivery', con = engine, if_exists = 'append')

In [28]:
# temp_df.to_sql('batsman_runs', con = engine, if_exists = 'append')

In [29]:
# temp_df2

In [30]:
# six_df = df.query('batsman_runs == 6').pivot_table(index='over',columns='ball',values='batsman_runs',aggfunc='count')

In [31]:
# six_df.to_sql('six_heatmap', con = engine, if_exists = 'append')