<a href="https://colab.research.google.com/github/Rohan-1103/Data-Science/blob/main/session_18_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# to visualize all the column, run the below code
# pd.options.display.max_columns = None

# to show all the records, use the below code
# pd.options.display.max_rows = None

## Fifa Worldcup - 2022 dataset.

You can find the dataset from [here](https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results).

Also you can directly use an url to read the dataset by using `pd.read_csv()` method. Check the below code cell.

In [2]:
# To get the details about the dataset, please visit
# https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv"
df = pd.read_csv(url)
df.head()

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,...,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,...,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,...,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,...,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,...,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,...,13,2,391,326,22,8,6,14,0,0

### `Q-1:` Use the football dataset. Find out the total percentages that each team made on target. Display the result as a python dictionary where the keys are the team list and the values are the percentage values. Round off the percentage values up to 2 decimal places.

*Help:*
- First, find out how many total teams are participated in this worldcup. For that, you can use `unique()` method on the column "Team" or "Against".
- Loop through the teams list that you have found in previous section, and then filter the dataset according to that. After filtering the dataset, find out total attempts sum and total on target sum.
- After getting these values, find out the percentage by total on target divided by total attempts and multiply by 100. And store to a python dictionary where the key will be the team name and the values will be the percentages.
- At the end,sort the dictionary by the values (not by the keys) and print the result.


**Sample Output:**
```bash
{'Costa Rica': 54.55,
 'Cameroon': 51.85,
 'Ecuador': 48.15,
 'Argentina': 46.99,
 'Brazil': 45.56,
 'England': 45.0,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Netherlands': 39.02,
 'Korea Republic': 36.73,
 'Australia': 36.0,
 'Mexico': 34.88,
 'Croatia': 34.78,
 'Germany': 34.33,
 'France': 32.97,
 'Spain': 32.69,
 'Belgium': 32.35,
 'Serbia': 32.26,
 'Iran': 31.43,
 'Uruguay': 31.25,
 'United States': 31.11,
 'Saudi Arabia': 31.03,
 'Senegal': 30.77,
 'Denmark': 30.56,
 'Switzerland': 30.56,
 'Japan': 30.23,
 'Wales': 29.17,
 'Qatar': 28.57,
 'Morocco': 28.3,
 'Tunisia': 26.67,
 'Poland': 25.0,
 'Canada': 17.65}
```

In [3]:
df.columns

Index(['Sl. No', 'Match No.', 'Team', 'Against', 'Group', 'Goal',
       'Possession (%)', 'Inside Penalty Area', 'Outside Penalty Area',
       'Assists', 'Total Attempts', 'On Target', 'Off Target',
       'Target in Penalty', 'Target from Outside', 'Left Channel',
       'Left Inside Channel', 'Central Channel', 'Right Inside Channel',
       'Right Channel', 'Receptions MD', 'Receptions D',
       'Attempted Line Breaks', 'Completed Line Breaks',
       'Attempted Defensive Line Breaks', 'Completed Defensive Line Breaks',
       'Yellow Cards', 'Red Cards', 'Fouls Against', 'Offsides', 'Passes',
       'Passes Completed', 'Crosses', 'Crosses Completed', 'Corners',
       'Free Kicks', 'Penalties Scored', 'Pts'],
      dtype='object')

In [4]:
teams = pd.unique(df.Team)
diction = {}

for team in teams:
  curr = df[df.Team == team]
  percent = (curr['On Target'].sum() / curr['Total Attempts'].sum()) * 100
  # diction[curr.Team] = percent
  diction[team] = round(percent, 2)

print(dict(sorted(diction.items(), reverse=True, key=lambda x: x[1])))

{'Costa Rica': np.float64(54.55), 'Cameroon': np.float64(51.85), 'Ecuador': np.float64(48.15), 'Argentina': np.float64(46.15), 'Brazil': np.float64(45.56), 'England': np.float64(45.0), 'Portugal': np.float64(40.32), 'Ghana': np.float64(40.0), 'Netherlands': np.float64(39.02), 'Korea Republic': np.float64(36.73), 'Australia': np.float64(36.0), 'Mexico': np.float64(34.88), 'France': np.float64(34.65), 'Germany': np.float64(34.33), 'Croatia': np.float64(33.73), 'Spain': np.float64(32.69), 'Belgium': np.float64(32.35), 'Serbia': np.float64(32.26), 'Iran': np.float64(31.43), 'Uruguay': np.float64(31.25), 'United States': np.float64(31.11), 'Saudi Arabia': np.float64(31.03), 'Senegal': np.float64(30.77), 'Denmark': np.float64(30.56), 'Switzerland': np.float64(30.56), 'Japan': np.float64(30.23), 'Wales': np.float64(29.17), 'Qatar': np.float64(28.57), 'Morocco': np.float64(28.33), 'Tunisia': np.float64(26.67), 'Poland': np.float64(25.0), 'Canada': np.float64(17.65)}

### `Q-2:` Find out how many times the teams are played in this Fifa Worldcup-2022. On top of this, find out the ranks of the teams.

Note: The `DataFrame.rank()` method takes an optiinal parameter named `method`. This parameter takes different values, but one of them is `average` which is by-default. So, when you do the rank, you will get some 2.5 like floating values. But if you change the value as `first`, then you will get in integers but the datatype will be float. So, try with `method="first"` parameter.

In [11]:
match_counts = df.Team.value_counts()
print(match_counts)
ranks_2022 = match_counts.rank(method='first').sort_values()
ranks_2022

Team
France            7
Argentina         7
Croatia           7
Morocco           7
Brazil            5
Portugal          5
England           5
Netherlands       5
Spain             4
Japan             4
Switzerland       4
Korea Republic    4
Australia         4
Poland            4
Senegal           4
United States     4
Mexico            3
Saudi Arabia      3
Denmark           3
Tunisia           3
Iran              3
Ecuador           3
Qatar             3
Wales             3
Canada            3
Belgium           3
Costa Rica        3
Germany           3
Uruguay           3
Cameroon          3
Ghana             3
Serbia            3
Name: count, dtype: int64

Team
Mexico             1.0
Saudi Arabia       2.0
Denmark            3.0
Tunisia            4.0
Iran               5.0
Ecuador            6.0
Qatar              7.0
Wales              8.0
Canada             9.0
Belgium           10.0
Costa Rica        11.0
Germany           12.0
Uruguay           13.0
Cameroon          14.0
Ghana             15.0
Serbia            16.0
Spain             17.0
Japan             18.0
Switzerland       19.0
Korea Republic    20.0
Australia         21.0
Poland            22.0
Senegal           23.0
United States     24.0
Brazil            25.0
Portugal          26.0
England           27.0
Netherlands       28.0
France            29.0
Argentina         30.0
Croatia           31.0
Morocco           32.0
Name: count, dtype: float64

### `Q-3:` Find out these below topics:
- The information about the Fifa worldcup dataset.
- The description about the Fifa worldcup dataset
- Check is there any missing values, if there is any missing values, fill that value with the average value for that particular column.
- Drop all the duplicate rows permanently.
- Drop the columns: "Sl No", "Match No.", "Red Cards" and "Pts" permanently.

In [10]:
# i
print(df.info())

# ii
print(df.describe())

# iii
print(df.isna().sum())

# iv
df.drop_duplicates(inplace=True)

# v
df.drop(columns=['Sl. No', "Match No.", "Red Cards", "Pts"], inplace=True, errors='ignore')

print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 38 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Sl. No                           128 non-null    int64
 1   Match No.                        128 non-null    int64
 2   Team                             128 non-null    object
 3   Against                          128 non-null    object
 4   Group                            128 non-null    object
 5   Goal                             128 non-null    int64
 6   Possession (%)                   128 non-null    int64
 7   Inside Penalty Area              128 non-null    int64
 8   Outside Penalty Area             128 non-null    int64
 9   Assists                          128 non-null    int64
 10  Total Attempts                   128 non-null    int64
 11  On Target                        128 non-null    int64
 12  Off Target                       128 non-null    int64
 13  Target in Penalty                128 non-null    int64
 14  Target from Outside              128 non-null    int64
 15  Left Channel                     128 non-null    int64
 16  Left Inside Channel              128 non-null    int64
 17  Central Channel                  128 non-null    int64
 18  Right Inside Channel             128 non-null    int64
 19  Right Channel                    128 non-null    int64
 20  Receptions MD                    128 non-null    int64
 21  Receptions D                     128 non-null    int64
 22  Attempted Line Breaks            128 non-null    int64
 23  Completed Line Breaks            128 non-null    int64
 24  Attempted Defensive Line Breaks  128 non-null    int64
 25  Completed Defensive Line Breaks  128 non-null    int64
 26  Yellow Cards                     128 non-null    int64
 27  Red Cards                        128 non-null    int64
 28  Fouls Against                    128 non-null    int64
 29  Offsides                         128 non-null    int64
 30  Passes                           128 non-null    int64
 31  Passes Completed                 128 non-null    int64
 32  Crosses                          128 non-null    int64
 33  Crosses Completed                128 non-null    int64
 34  Corners                          128 non-null    int64
 35  Free Kicks                       128 non-null    int64
 36  Penalties Scored                 128 non-null    int64
 37  Pts                              128 non-null    int64
dtypes: int64(35), object(3)
memory usage: 38.1+ KB
None
           Sl. No   Match No.        Goal  Possession (%)  \
count  128.000000  128.000000  128.000000      128.000000
mean    64.500000   32.500000    1.343750       43.476562
std     37.094474   18.545539    1.342448       11.442403
min      1.000000    1.000000    0.000000       14.000000
25%     32.750000   16.750000    0.000000       35.000000
50%     64.500000   32.500000    1.000000       45.000000
75%     96.250000   48.250000    2.000000       51.000000
max    128.000000   64.000000    7.000000       78.000000

       Inside Penalty Area  Outside Penalty Area     Assists  Total Attempts  \
count           128.000000            128.000000  128.000000      128.000000
mean              1.203125              0.117188    0.914062       11.257812
std               1.324270              0.322907    1.150333        5.406683
min               0.000000              0.000000    0.000000        0.000000
25%               0.000000              0.000000    0.000000        7.750000
50%               1.000000              0.000000    1.000000       10.000000
75%               2.000000              0.000000    1.000000       14.000000
max               7.000000              1.000000    6.000000       32.000000

        On Target  Off Target  ...  Fouls Against    Offsides       Passes  \
count  128.000000  128.000000  ...     128.000000  128.000000   128.000000
mean     4.007812    4.835938  ...      12.320312    1.976562   502.859375
std      2.588576    2.610630  ...       4.691983    1.731891   160.160487
min      0.000000    0.000000  ...       0.000000    0.000000   225.000000
25%      2.000000    3.000000  ...       9.000000    1.000000   398.250000
50%      4.000000    4.000000  ...      12.000000    2.000000   495.500000
75%      6.000000    6.000000  ...      15.000000    3.000000   589.500000
max     13.000000   17.000000  ...      30.000000   10.000000  1070.000000

       Passes Completed     Crosses  Crosses Completed     Corners  \
count        128.000000  128.000000         128.000000  128.000000
mean         430.929688   19.523438           4.898438    4.468750
std          160.893724    8.596799           3.520111    2.774852
min          156.000000    4.000000           0.000000    0.000000
25%          323.250000   13.000000           3.000000    2.000000
50%          419.000000   19.000000           4.000000    4.000000
75%          519.750000   24.000000           6.000000    6.000000
max          994.000000   53.000000          25.000000   14.000000

       Free Kicks  Penalties Scored         Pts
count  128.000000        128.000000  128.000000
mean    14.250000          0.335938    1.429688
std      4.712189          0.941412    1.389973
min      5.000000          0.000000    0.000000
25%     11.000000          0.000000    0.000000
50%     14.000000          0.000000    1.000000
75%     17.000000          0.000000    3.000000
max     30.000000          5.000000    3.000000

[8 rows x 35 columns]
Sl. No                             0
Match No.                          0
Team                               0
Against                            0
Group                              0
Goal                               0
Possession (%)                     0
Inside Penalty Area                0
Outside Penalty Area               0
Assists                            0
Total Attempts                     0
On Target                          0
Off Target                         0
Target in Penalty                  0
Target from Outside                0
Left Channel                       0
Left Inside Channel                0
Central Channel                    0
Right Inside Channel               0
Right Channel                      0
Receptions MD                      0
Receptions D                       0
Attempted Line Breaks              0
Completed Line Breaks              0
Attempted Defensive Line Breaks    0
Completed Defensive Line Breaks    0
Yellow Cards                       0
Red Cards                          0
Fouls Against                      0
Offsides                           0
Passes                             0
Passes Completed                   0
Crosses                            0
Crosses Completed                  0
Corners                            0
Free Kicks                         0
Penalties Scored                   0
Pts                                0
dtype: int64
          Team      Against Group  Goal  Possession (%)  Inside Penalty Area  \
0        Qatar      Ecuador     A     0              40                    0
1      Ecuador        Qatar     A     2              46                    2
2      England         Iran     B     6              69                    6
3         Iran      England     B     2              20                    2
4      Senegal  Netherlands     A     0              39                    0
..         ...          ...   ...   ...             ...                  ...
123    Morocco         Fram     F     0              55                    0
124    Croatia      Morocco     F     2              45                    2
125    Morocco      Croatia     F     1              45                    1
126  Argentina       France     C     3              46                    3
127     France    Argentina     D     3              40                    3

     Outside Penalty Area  Assists  Total Attempts  On Target  ...  \
0                       0        0               5          0  ...
1                       0        1               5          5  ...
2                       0        6              13          7  ...
3                       0        1               8          3  ...
4                       0        0              15          4  ...
..                    ...      ...             ...        ...  ...
123                     0        0              13          1  ...
124                     0        2              14          4  ...
125                     0        0               7          2  ...
126                     0        1              21          9  ...
127                     0        1              10          5  ...

     Yellow Cards  Fouls Against  Offsides  Passes  Passes Completed  Crosses  \
0               4             15         3     453               387       10
1               2             15         4     484               419       26
2               0              9         2     810               733       29
3               2             14         2     232               156       11
4               2             13         2     391               326       22
..            ...            ...       ...     ...               ...      ...
123             1             11         3     583               518       22
124             0             13         2     491               430       21
125             2             11         2     494               428       20
126             4             26         4     648               544       20
127             3             19         4     516               419       24

     Crosses Completed  Corners  Free Kicks  Penalties Scored
0                    5        1          19                 0
1                   10        3          17                 1
2                    9        8          16                 0
3                    3        0          10                 1
4                    8        6          14                 0
..                 ...      ...         ...               ...
123                  1        3          15                 0
124                  3        6          13                 0
125                  5        3          15                 0
126                  4        6          22                 5
127                  3        5          28                 4

[128 rows x 34 columns]

###`Q-4:` Do these below operations:
- Find out the rank based on the "Team" column and save the result by adding a new column named "Rank".
- Change the datatype of this column to integer by using `np.int16`
- Set the index of the DataFrame by using this "Rank" column permanently.
- After that, sort the dataframe based on the "Rank" index.

In [14]:
df.set_index(df['Team'], inplace=True)
df

,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,...,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Rank
Team,,,,,,,,,,,,,,,,,,,,,
Qatar,Qatar,Ecuador,A,0,40,0,0,0,5,0,...,15,3,453,387,10,5,1,19,0,NaN
Ecuador,Ecuador,Qatar,A,2,46,2,0,1,5,5,...,15,4,484,419,26,10,3,17,1,NaN
England,England,Iran,B,6,69,6,0,6,13,7,...,9,2,810,733,29,9,8,16,0,NaN
Iran,Iran,England,B,2,20,2,0,1,8,3,...,14,2,232,156,11,3,0,10,1,NaN
Senegal,Senegal,Netherlands,A,0,39,0,0,0,15,4,...,13,2,391,326,22,8,6,14,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Morocco,Morocco,Fram,F,0,55,0,0,0,13,1,...,11,3,583,518,22,1,3,15,0,NaN
Croatia,Croatia,Morocco,F,2,45,2,0,2,14,4,...,13,2,491,430,21,3,6,13,0,NaN
Morocco,Morocco,Croatia,F,1,45,1,0,0,7,2,...,11,2,494,428,20,5,3,15,0,NaN
Argentina,Argentina,France,C,3,46,3,0,1,21,9,...,26,4,648,544,20,4,6,22,5,NaN
France,France,Argentina,D,3,40,3,0,1,10,5,...,19,4,516,419,24,3,5,28,4,NaN

In [15]:
df['Rank'] = ranks_2022
# df.set_index(df['Team'], inplace=True)
# df
df['Rank'] = df['Rank'].astype(np.int16)
df.set_index(df['Rank'], inplace=True)
df.sort_index()

,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,...,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Rank
Rank,,,,,,,,,,,,,,,,,,,,,
1,Mexico,Argentina,C,0,36,0,0,0,4,1,...,19,4,356,287,17,4,2,17,0,1
1,Mexico,Poland,C,0,49,0,0,0,14,4,...,14,3,500,426,33,6,6,16,0,1
1,Mexico,Saudi Arabia,C,2,55,1,1,1,25,10,...,18,6,412,336,34,6,8,22,0,1
2,Saudi Arabia,Argentina,C,2,24,2,0,1,3,2,...,21,1,267,194,12,4,2,17,0,2
2,Saudi Arabia,Poland,C,0,57,0,0,0,16,5,...,15,0,560,494,24,4,5,17,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,Morocco,Spain,F,0,20,0,0,0,6,3,...,15,5,331,235,11,4,0,18,3,32
32,Morocco,Canada,F,2,36,1,1,1,7,2,...,14,4,391,315,9,1,2,18,0,32
32,Morocco,Fram,F,0,55,0,0,0,13,1,...,11,3,583,518,22,1,3,15,0,32
32,Morocco,Croatia,F,1,45,1,0,0,7,2,...,11,2,494,428,20,5,3,15,0,32
32,Morocco,Croatia,F,0,30,0,0,0,7,2,...,17,0,365,296,13,2,0,12,0,32

## Questions on Titanic dataset.

You can get the dataset from [here](https://www.kaggle.com/competitions/titanic). This is the competition page on Kaggle. To download the dataset from here, I guess you have to register for the compition. So, do so and then download the dataset.

Also, for now you can use this url to read the dataset like before:
- dataset 1: https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv
- dataset 2: https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv

### `Q-5:` Do the below tasks:
1. With dataset 1, drop those records which only have missing values of the "Age" column permanently.

2. With the dataset 2, fill the missing values with 20 to the only "Age" column permanently.

In [16]:
df1 = pd.read_csv('https://www.google.com/url?q=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2Fe%2F2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh%2Fpub%3Fgid%3D1562145139%26single%3Dtrue%26output%3Dcsv')
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [17]:
df2 = pd.read_csv('https://www.google.com/url?q=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2Fe%2F2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa%2Fpub%3Fgid%3D1656109608%26single%3Dtrue%26output%3Dcsv')
df2

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [18]:
df1.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
# df1['Age'].dropna(axis=0)
df1.dropna(subset=['Age'], inplace=True)
df1.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          529
Embarked         2
dtype: int64

In [20]:
# df2.fillna(df2['Age'], method = df2['Age'].mean())


# df2.Age.fillna(20, inplace=True)
df2.Age = df2.Age.fillna(20)

# Use assignment. It's cleaner, safer, future-proof, and pandas devs love it.
# If you want a slogan:
# â€œInplace is the old cranky uncle. Assignment is the reliable cousin who gets the job done.â€

df2.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

## Questions on IPL wala dataset

matches dataset = https://drive.google.com/file/d/1yKVUuexl6lIKuFQy7uIPgDgXhJ0L4SIg/view?usp=share_link

Code to directly use in colab
```
ipl_matches = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv"

```

In [21]:
ipl_matches = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv')
ipl_matches

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

###`Q-6:` Make a dataframe of each team in IPL with details like - Team Name, Matches Played, Win%, Home Win%, Away Win%.
Show sorted dataframe on Win%

Replace old team name as new name before performing any tasks.
```
Delhi Daredevils ->Delhi Capitals
Kings XI Punjab -> Punjab Kings
Rising Pune Supergiants -> Rising Pune Supergiant
```

Note: Team1 represents Home team. Exclude not result matches.

In [22]:
ipl_matches.replace({'Delhi Daredevils': 'Delhi Capitals', 'Kings XI Punjab': 'Punjab Kings', 'Rising Pune Supergiants':'Rising Pune Supergiant'}, inplace=True)
ipl_matches.Team1.unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Rising Pune Supergiant',
       'Gujarat Lions', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [23]:
# teams = ipl_matches.Team1.unique()
# matches_count = ipl_matches.Team1.value_counts() + ipl_matches.Team2.value_counts()
# # matches_count

# wins_df = pd.DataFrame()
# data = []

# for team in teams:
#   win_perc = (((ipl_matches['WinningTeam'] == team).sum()) / matches_count.sum()) * 100
#   home_win = ((((ipl_matches['Team1'] == team) & (ipl_matches['WinningTeam'] == team)).sum()) / matches_count.team) * 100
#   away_win = ((((ipl_matches['Team1'] != team) & (ipl_matches['WinningTeam'] == team)).sum()) / matches_count.team) * 100
#   data.append(team, win_perc, home_win, away_win)
# wins_df[['Team Played count', 'Win_%', 'Home Win %', 'Away Win %']] = data
# wins_df.sort_values("Win_%", ascending=False)

In [24]:
teams = ipl_matches.Team1.unique()
matches_count = ipl_matches.Team1.value_counts() + ipl_matches.Team2.value_counts()

rows = []


for team in teams:
  played = matches_count[team]
  win_perc = ((ipl_matches['WinningTeam'] == team).sum() / played) * 100
  home_win = (((ipl_matches['Team1'] == team) & (ipl_matches['WinningTeam'] == team)).sum() / played) * 100
  away_win = (((ipl_matches['Team2'] == team) & (ipl_matches['WinningTeam'] == team)).sum() / played) * 100
  rows.append([team, played, win_perc, home_win, away_win])

wins_df_updated = pd.DataFrame(rows, columns=['Team', 'Count', 'Win_%', 'Home Win %', 'Away Win %'])
wins_df_updated.sort_values("Win_%", ascending=False)

                           Team  Count      Win_%  Home Win %  Away Win %
5                Gujarat Titans     16  75.000000   25.000000   50.000000
6          Lucknow Super Giants     15  60.000000   46.666667   13.333333
4           Chennai Super Kings    208  58.173077   31.250000   26.923077
9                Mumbai Indians    231  56.709957   28.138528   28.571429
7         Kolkata Knight Riders    223  51.121076   25.112108   26.008969
0              Rajasthan Royals    192  50.000000   25.520833   24.479167
10       Rising Pune Supergiant     30  50.000000   23.333333   26.666667
2           Sunrisers Hyderabad    152  49.342105   23.684211   25.657895
1   Royal Challengers Bangalore    226  48.230088   26.991150   21.238938
8                  Punjab Kings    218  46.330275   22.935780   23.394495
3                Delhi Capitals    224  45.982143   23.660714   22.321429
11                Gujarat Lions     30  43.333333   16.666667   26.666667
14         Kochi Tuskers Kerala     14  42.857143   21.428571   21.428571
13              Deccan Chargers     75  38.666667   17.333333   21.333333
12                Pune Warriors     46  26.086957   13.043478   13.043478

In [25]:
(((ipl_matches['WinningTeam'] == 'Chennai Super Kings').sum()) / matches_count['Chennai Super Kings']) * 100

np.float64(58.17307692307693)

In [26]:
stadium_matches_count = ipl_matches.City.value_counts()
stadium_matches_count

City
Mumbai            159
Kolkata            79
Delhi              78
Chennai            67
Bangalore          65
Hyderabad          64
Chandigarh         56
Pune               51
Jaipur             47
Abu Dhabi          37
Ahmedabad          19
Bengaluru          15
Durban             15
Visakhapatnam      13
Dubai              13
Centurion          12
Sharjah            10
Rajkot             10
Navi Mumbai         9
Indore              9
Dharamsala          9
Johannesburg        8
Port Elizabeth      7
Cuttack             7
Ranchi              7
Cape Town           7
Raipur              6
Kochi               5
Kanpur              4
Nagpur              3
Kimberley           3
East London         3
Bloemfontein        2
Name: count, dtype: int64

In [27]:
((((ipl_matches['Team1'] == 'Chennai Super Kings') & (ipl_matches['WinningTeam'] == 'Chennai Super Kings')).sum()) / stadium_matches_count.Chennai) * 100

np.float64(97.01492537313433)

###`Q-7:` Venues with most "no result" matches.

In [28]:
ipl_matches[ipl_matches.WonBy == "NoResults"].Venue.value_counts().head(1)

Venue
M Chinnaswamy Stadium    2
Name: count, dtype: int64

###`Q-8:` Player with most appearance in final match.

`Team1Players` and `Team2Players` have all players name. It is not a list of players name instead it is str. So handle it as string.

Hint: split and strip will help; Make a series of all players in final and do value counts

In [31]:
# players = ipl_matches['Team1Players'] + ipl_matches['Team2Players']
# players
# def getPlayers(l):
#     return pd.Series(list(map( lambda x: x.strip("'"), l.lstrip("'[").rstrip("]'").split(", "))))

# df_final = ipl_matches[ipl_matches["MatchNumber"] == "Final"]
# playerSeries = pd.Series()
# for player_list in df_final.Team1Players:
#     x = getPlayers(player_list)
#     playerSeries = playerSeries.concat(x)
# for player_list in df_final.Team2Players:
#     x = getPlayers(player_list)
#     playerSeries = playerSeries.append(x)
# playerSeries.value_counts().head()

AttributeError: 'Series' object has no attribute 'append'

In [35]:
import ast

df_final = ipl_matches[ipl_matches["MatchNumber"] == "Final"]

all_players = (
    df_final.Team1Players.apply(ast.literal_eval).sum()
    + df_final.Team2Players.apply(ast.literal_eval).sum()
)

pd.Series(all_players).value_counts().head(1)

MS Dhoni    10
Name: count, dtype: int64

###`Q-9:` IPL Point Table

Make a function `point_table` which take `season` as parameter and show points table in non-ascendng order of points and in ascending order of team name.

For winning - 2 Ponits;
For loosing - 0 Point
For not result both team gets 1 points.

Make dataframe which will have
`TeamName` `MatchesPlayed` `MatchesWon` `NoResult` `Points`
make `TeamName` as index.

```
season parametr should be one of these->
['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08']
```

Output of two Top 2 in season 2022
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points

Gujarat Titans	    16	   12	       0	     24
Rajasthan Royals	  17	   10	       0	     20

```

In [50]:
seas_dtf = ipl_matches[ipl_matches['Season'] == '2020/21']
seas_dtf

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
134,1237181,NaN,2020-11-10,2020/21,Final,Delhi Capitals,Mumbai Indians,Dubai International Cricket Stadium,Delhi Capitals,bat,N,Mumbai Indians,Wickets,5.0,NaN,TA Boult,"['MP Stoinis', 'S Dhawan', 'AM Rahane', 'SS Iy...","['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...",CB Gaffaney,Nitin Menon
135,1237180,Abu Dhabi,2020-11-08,2020/21,Qualifier 2,Delhi Capitals,Sunrisers Hyderabad,Sheikh Zayed Stadium,Delhi Capitals,bat,N,Delhi Capitals,Runs,17.0,NaN,MP Stoinis,"['MP Stoinis', 'S Dhawan', 'SS Iyer', 'SO Hetm...","['PK Garg', 'DA Warner', 'MK Pandey', 'KS Will...",PR Reiffel,S Ravi
136,1237178,Abu Dhabi,2020-11-06,2020/21,Eliminator,Royal Challengers Bangalore,Sunrisers Hyderabad,Sheikh Zayed Stadium,Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,6.0,NaN,KS Williamson,"['V Kohli', 'D Padikkal', 'AJ Finch', 'AB de V...","['DA Warner', 'SP Goswami', 'MK Pandey', 'KS W...",PR Reiffel,S Ravi
137,1237177,NaN,2020-11-05,2020/21,Qualifier 1,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Delhi Capitals,field,N,Mumbai Indians,Runs,57.0,NaN,JJ Bumrah,"['Q de Kock', 'RG Sharma', 'SA Yadav', 'Ishan ...","['PP Shaw', 'S Dhawan', 'AM Rahane', 'SS Iyer'...",CB Gaffaney,Nitin Menon
138,1216495,NaN,2020-11-03,2020/21,56,Mumbai Indians,Sunrisers Hyderabad,Sharjah Cricket Stadium,Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,10.0,NaN,S Nadeem,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...","['DA Warner', 'WP Saha', 'MK Pandey', 'KS Will...",C Shamshuddin,RK Illingworth
139,1216505,Abu Dhabi,2020-11-02,2020/21,55,Royal Challengers Bangalore,Delhi Capitals,Sheikh Zayed Stadium,Delhi Capitals,field,N,Delhi Capitals,Wickets,6.0,NaN,A Nortje,"['JR Philippe', 'D Padikkal', 'V Kohli', 'AB d...","['PP Shaw', 'S Dhawan', 'AM Rahane', 'SS Iyer'...",CB Gaffaney,S Ravi
140,1216530,NaN,2020-11-01,2020/21,54,Kolkata Knight Riders,Rajasthan Royals,Dubai International Cricket Stadium,Rajasthan Royals,field,N,Kolkata Knight Riders,Runs,60.0,NaN,PJ Cummins,"['Shubman Gill', 'N Rana', 'RA Tripathi', 'SP ...","['RV Uthappa', 'BA Stokes', 'SPD Smith', 'SV S...",Nitin Menon,PR Reiffel
141,1216506,Abu Dhabi,2020-11-01,2020/21,53,Punjab Kings,Chennai Super Kings,Sheikh Zayed Stadium,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,9.0,NaN,RD Gaikwad,"['KL Rahul', 'MA Agarwal', 'CH Gayle', 'N Poor...","['RD Gaikwad', 'F du Plessis', 'AT Rayudu', 'M...",PG Pathak,VK Sharma
142,1216535,NaN,2020-10-31,2020/21,51,Delhi Capitals,Mumbai Indians,Dubai International Cricket Stadium,Mumbai Indians,field,N,Mumbai Indians,Wickets,9.0,NaN,Ishan Kishan,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...","['Ishan Kishan', 'Q de Kock', 'SA Yadav', 'SS ...",YC Barde,PR Reiffel
143,1216502,NaN,2020-10-31,2020/21,52,Royal Challengers Bangalore,Sunrisers Hyderabad,Sharjah Cricket Stadium,Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,5.0,NaN,Sandeep Sharma,"['JR Philippe', 'D Padikkal', 'V Kohli', 'AB d...","['DA Warner', 'WP Saha', 'MK Pandey', 'KS Will...",KN Ananthapadmanabhan,K Srinivasan
144,1216537,Abu Dhabi,2020-10-30,2020/21,50,Punjab Kings,Rajasthan Royals,Sheikh Zayed Stadium,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,BA Stokes,"['KL Rahul', 'Mandeep Singh', 'CH Gayle', 'N P...","['RV Uthappa', 'BA Stokes', 'SV Samson', 'SPD ...",CB Gaffaney,S Ravi
145,1216536,NaN,2020-10-29,2020/21,49,Kolkata Knight Riders,Chennai Super Kings,Dubai International Cricket Stadium,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,6.0,NaN,RD Gaikwad,"['Shubman Gill', 'N Rana', 'SP Narine', 'RK Si...","['SR Watson', 'RD Gaikwad', 'AT Rayudu', 'MS D...",C Shamshuddin,RK Illingworth
146,1216499,Abu Dhabi,2020-10-28,2020/21,48,Royal Challengers Bangalore,Mumbai Indians,Sheikh Zayed Stadium,Mumbai Indians,field,N,Mumbai Indians,Wickets,5.0,NaN,SA Yadav,"['JR Philippe', 'D Padikkal', 'V Kohli', 'AB d...","['Q de Kock', 'Ishan Kishan', 'SA Yadav', 'SS ...",UV Gandhe,CB Gaffaney
147,1216524,NaN,2020-10-27,2020/21,47,Sunrisers Hyderabad,Delhi Capitals,Dubai International Cricket Stadium,Delhi Capitals,field,N,Sunrisers Hyderabad,Runs,88.0,NaN,WP Saha,"['DA Warner', 'WP Saha', 'MK Pandey', 'KS Will...","['AM Rahane', 'S Dhawan', 'MP Stoinis', 'SO He...",AK Chaudhary,Nitin Menon
148,1216520,NaN,2020-10-26,2020/21,46,Kolkata Knight Riders,Punjab Kings,Sharjah Cricket Stadium,Punjab Kings,field,N,Punjab Kings,Wickets,8.0,NaN,CH Gayle,"['Shubman Gill', 'N Rana', 'RA Tripathi', 'KD ...","['KL Rahul', 'Mandeep Singh', 'CH Gayle', 'N P...",KN Ananthapadmanabhan,RK Illingworth
149,1216541,Abu Dhabi,2020-10-25,2020/21,45,Mumbai Indians,Rajasthan Royals,Sheikh Zayed Stadium,Mumbai Indians,bat,N,Rajasthan Royals,Wickets,8.0,NaN,BA Stokes,"['Ishan Kishan', 'Q de Kock', 'SA Yadav', 'SS ...","['RV Uthappa', 'BA Stokes', 'SPD Smith', 'SV S...",UV Gandhe,VK Sharma
150,1216544,NaN,2020-10-25,2020/21,44,Royal Challengers Bangalore,Chennai Super Kings,Dubai International Cricket Stadium,Royal Challengers Bangalore,bat,N,Chennai Super Kings,Wickets,8.0,NaN,RD Gaikwad,"['D Padikkal', 'AJ Finch', 'V Kohli', 'AB de V...","['RD Gaikwad', 'F du Plessis', 'AT Rayudu', 'M...",C Shamshuddin,RK Illingworth
151,1216498,NaN,2020-10-24,2020/21,43,Punjab Kings,Sunrisers Hyderabad,Dubai International Cricket Stadium,Sunrisers Hyderabad,field,N,Punjab Kings,Runs,12.0,NaN,CJ Jordan,"['KL Rahul', 'Mandeep Singh', 'CH Gayle', 'N P...","['DA Warner', 'JM Bairstow', 'MK Pandey', 'Abd...",AY Dandekar,PR Reiffel
152,1216497,Abu Dhabi,2020-10-24,2020/21,42,Kolkata Knight Riders,Delhi Capitals,Sheikh Zayed Stadium,Delhi Capitals,field,N,Kolkata Knight Riders,Runs,59.0,NaN,CV Varun,"['Shubman Gill', 'N Rana', 'RA Tripathi', 'KD ...","['AM Rahane', 'S Dhawan', 'SS Iyer', 'RR Pant'...",CB Gaffaney,PG Pathak
153,1216521,NaN,2020-10-23,2020/21,41,Chennai Super Kings,Mumbai Indians,Sharjah Cricket Stadium,Mumbai Indians,field,N,Mumbai Indians,Wickets,10.0,NaN,TA Boult,"['RD Gaikwad', 'F du Plessis', 'AT Rayudu', 'N...","['Q de Kock', 'Ishan Kishan', 'SA Yadav', 'SS ...",C Shamshuddin,VA Kulkarni
154,1216518,NaN,2020-10-22,2020/21,40,Rajasthan Royals,Sunrisers Hyderabad,Dubai International Cricket Stadium,Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,8.0,NaN,MK Pandey,"['RV Uthappa', 'BA Stokes', 'SV Samson', 'JC B...","['DA Warner', 'JM Bairstow', 'MK Pandey', 'V S...",Nitin Menon,PR Reiffel
155,1216494,Abu Dhabi,2020-10-21,2020/21,39,Kolkata Knight Riders,Royal Challengers Bangalore,Sheikh Zayed Stadium,Kolkata Knight Riders,bat,N,Royal Challengers Bangalore,Wickets,8.0,NaN,Mohammed Siraj,"['Shubman Gill', 'RA Tripathi', 'N Rana', 'T B...","['D Padikkal', 'AJ Finch', 'Gurkeerat Singh', ...",VK Sharma,S Ravi
156,1216546,NaN,2020-10-20,2020/21,38,Delhi Capitals,Punjab Kings,Dubai International Cricket Stadium,Delhi Capitals,bat,N,Punjab Kings,Wickets,5.0,NaN,S Dhawan,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...","['KL Rahul', 'MA Agarwal', 'CH Gayle', 'N Poor...",C Shamshuddin,RK Illingworth
157,1216533,Abu Dhabi,2020-10-19,2020/21,37,Chennai Super Kings,Rajasthan Royals,Sheikh Zayed Stadium,Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['SM Curran', 'F du Plessis', 'SR Watson', 'AT...","['BA Stokes', 'RV Uthappa', 'SV Samson', 'SPD ...",CB Gaffaney,VK Sharma
158,1216512,Abu Dhabi,2020-10-18,2020/21,35,Kolkata Knight Riders,Sunrisers Hyderabad,Sheikh Zayed Stadium,Sunrisers Hyderabad,field,Y,Kolkata Knight Riders,SuperOver,NaN,NaN,LH Ferguson,"['Shubman Gill', 'RA Tripathi', 'N Rana', 'AD ...","['JM Bairstow', 'KS Williamson', 'PK Garg', 'D...",PG Pathak,S Ravi
159,1216517,NaN,2020-10-18,2020/21,36,Mumbai Indians,Punjab Kings,Dubai International Cricket Stadium,Mumbai Indians,bat,Y,Punjab Kings,SuperOver,NaN,NaN,KL Rahul,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...","['KL Rahul', 'MA Agarwal', 'CH Gayle', 'N Poor...",Nitin Menon,PR Reiffel
160,1216522,NaN,2020-10-17,2020/21,33,Rajasthan Royals,Royal Challengers Bangalore,Dubai International Cricket Stadium,Rajasthan Royals,bat,N,Royal Challengers Bangalore,Wickets,7.0,NaN,AB de Villiers,"['RV Uthappa', 'BA Stokes', 'SV Samson', 'SPD ...","['D Padikkal', 'AJ Finch', 'V Kohli', 'AB de V...",AK Chaudhary,Nitin Menon
161,1216509,NaN,2020-10-17,2020/21,34,Chennai Super Kings,Delhi Capitals,Sharjah Cricket Stadium,Chennai Super Kings,bat,N,Delhi Capitals,Wickets,5.0,NaN,S Dhawan,"['SM Curran', 'F du Plessis', 'SR Watson', 'AT...","['PP Shaw', 'S Dhawan', 'AM Rahane', 'SS Iyer'...",KN Ananthapadmanabhan,RK Illingworth
162,1216526,Abu Dhabi,2020-10-16,2020/21,32,Kolkata Knight Riders,Mumbai Indians,Sheikh Zayed Stadium,Kolkata Knight Riders,bat,N,Mumbai Indians,Wickets,8.0,NaN,Q de Kock,"['RA Tripathi', 'Shubman Gill', 'N Rana', 'KD ...","['RG Sharma', 'Q de Kock', 'SA Yadav', 'HH Pan...",CB Gaffaney,VK Sharma
163,1216531,NaN,2020-10-15,2020/21,31,Royal Challengers Bangalore,Punjab Kings,Sharjah Cricket Stadium,Royal Challengers Bangalore,bat,N,Punjab Kings,Wickets,8.0,NaN,KL Rahul,"['AJ Finch', 'D Padikkal', 'V Kohli', 'Washing...","['KL Rahul', 'MA Agarwal', 'CH Gayle', 'N Poor...",KN Ananthapadmanabhan,C Shamshuddin
164,1216543,NaN,2020-10-14,2020/21,30,Delhi Capitals,Rajasthan Royals,Dubai International Cricket Stadium,Delhi Capitals,bat,N,Delhi Capitals,Runs,13.0,NaN,A Nortje,"['PP Shaw', 'S Dhawan', 'AM Rahane', 'SS Iyer'...","['BA Stokes', 'JC Buttler', 'SPD Smith', 'SV S...",AK Chaudhary,Nitin Menon
165,1216528,NaN,2020-10-13,2020/21,29,Chennai Super Kings,Sunrisers Hyderabad,Dubai International Cricket Stadium,Chennai Super Kings,bat,N,Chennai Super Kings,Runs,20.0,NaN,RA Jadeja,"['SM Curran', 'F du Plessis', 'SR Watson', 'AT...","['DA Warner', 'JM Bairstow', 'MK Pandey', 'KS ...",AK Chaudhary,PR Reiffel
166,1216540,NaN,2020-10-12,2020/21,28,Royal Challengers Bangalore,Kolkata Knight Riders,Sharjah Cricket Stadium,Royal Challengers Bangalore,bat,N,Royal Challengers Bangalore,Runs,82.0,NaN,AB de Villiers,"['AJ Finch', 'D Padikkal', 'V Kohli', 'AB de V...","['T Banton', 'Shubman Gill', 'N Rana', 'EJG Mo...",RK Illingworth,K Srinivasan
167,1216507,NaN,2020-10-11,2020/21,26,Sunrisers Hyderabad,Rajasthan Royals,Dubai International Cricket Stadium,Sunrisers Hyderabad,bat,N,Rajasthan Royals,Wickets,5.0,NaN,R Tewatia,"['DA Warner', 'JM Bairstow', 'MK Pandey', 'KS ...","['BA Stokes', 'JC Buttler', 'SPD Smith', 'SV S...",YC Barde,PR Reiffel
168,1216529,Abu Dhabi,2020-10-11,2020/21,27,Delhi Capitals,Mumbai Indians,Sheikh Zayed Stadium,Delhi Capitals,bat,N,Mumbai Indians,Wickets,5.0,NaN,Q de Kock,"['PP Shaw', 'S Dhawan', 'AM Rahane', 'SS Iyer'...","['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...",CB Gaffaney,S Ravi
169,1216523,Abu Dhabi,2020-10-10,2020/21,24,Kolkata Knight Riders,Punjab Kings,Sheikh Zayed Stadium,Kolkata Knight Riders,bat,N,Kolkata Knight Riders,Runs,2.0,NaN,KD Karthik,"['RA Tripathi', 'Shubman Gill', 'N Rana', 'EJG...","['KL Rahul', 'MA Agarwal', 'N Pooran', 'P Simr...",UV Gandhe,CB Gaffaney
170,1216525,NaN,2020-10-10,2020/21,25,Royal Challengers Bangalore,Chennai Super Kings,Dubai International Cricket Stadium,Royal Challengers Bangalore,bat,N,Royal Challengers Bangalore,Runs,37.0,NaN,V Kohli,"['D Padikkal', 'AJ Finch', 'V Kohli', 'AB de V...","['SR Watson', 'F du Plessis', 'AT Rayudu', 'N ...",AK Chaudhary,PR Reiffel
171,1216500,NaN,2020-10-09,2020/21,23,Delhi Capitals,Rajasthan Royals,Sharjah Cricket Stadium,Rajasthan Royals,field,N,Delhi Capitals,Runs,46.0,NaN,R Ashwin,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...","['YBK Jaiswal', 'JC Buttler', 'SPD Smith', 'SV...",KN Ananthapadmanabhan,C Shamshuddin
172,1216542,NaN,2020-10-08,2020/21,22,Sunrisers Hyderabad,Punjab Kings,Dubai International Cricket Stadium,Sunrisers Hyderabad,bat,N,Sunrisers Hyderabad,Runs,69.0,NaN,JM Bairstow,"['DA Warner', 'JM Bairstow', 'Abdul Samad', 'M...","['KL Rahul', 'MA Agarwal', 'P Simran Singh', '...",AK Chaudhary,Nitin Menon
173,1216501,Abu Dhabi,2020-10-07,2020/21,21,Kolkata Knight Riders,Chennai Super Kings,Sheikh Zayed Stadium,Kolkata Knight Riders,bat,N,Kolkata Knight Riders,Runs,10.0,NaN,RA Tripathi,"['RA Tripathi', 'Shubman Gill', 'N Rana', 'SP ...","['SR Watson', 'F du Plessis', 'AT Rayudu', 'MS...",KN Ananthapadmanabhan,RK Illingworth
174,1216511,Abu Dhabi,2020-10-06,2020/21,20,Mumbai Indians,Rajasthan Royals,Sheikh Zayed Stadium,Mumbai Indians,bat,N,Mumbai Indians,Runs,57.0,NaN,SA Yadav,"['Q de Kock', 'RG Sharma', 'SA Yadav', 'Ishan ...","['YBK Jaiswal', 'JC Buttler', 'SPD Smith', 'SV...",VK Sharma,S Ravi
175,1216519,NaN,2020-10-05,2020/21,19,Delhi Capitals,Royal Challengers Bangalore,Dubai International Cricket Stadium,Royal Challengers Bangalore,field,N,Delhi Capitals,Runs,59.0,NaN,AR Patel,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...","['D Padikkal', 'AJ Finch', 'V Kohli', 'AB de V...",Nitin Menon,YC Barde
176,1216513,NaN,2020-10-04,2020/21,18,Punjab Kings,Chennai Super Kings,Dubai International Cricket Stadium,Punjab Kings,bat,N,Chennai Super Kings,Wickets,10.0,NaN,SR Watson,"['KL Rahul', 'MA Agarwal', 'Mandeep Singh', 'N...","['SR Watson', 'F du Plessis', 'AT Rayudu', 'KM...",AY Dandekar,Nitin Menon
177,1216538,NaN,2020-10-04,2020/21,17,Mumbai Indians,Sunrisers Hyderabad,Sharjah Cricket Stadium,Mumbai Indians,bat,N,Mumbai Indians,Runs,34.0,NaN,TA Boult,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...","['DA Warner', 'JM Bairstow', 'MK Pandey', 'KS ...",KN Ananthapadmanabhan,RK Illingworth
178,1216514,Abu Dhabi,2020-10-03,2020/21,15,Rajasthan Royals,Royal Challengers Bangalore,Sheikh Zayed Stadium,Rajasthan Royals,bat,N,Royal Challengers Bangalore,Wickets,8.0,NaN,YS Chahal,"['JC Buttler', 'SPD Smith', 'SV Samson', 'RV U...","['D Padikkal', 'AJ Finch', 'V Kohli', 'AB de V...",CB Gaffaney,S Ravi
179,1216515,NaN,2020-10-03,2020/21,16,Delhi Capitals,Kolkata Knight Riders,Sharjah Cricket Stadium,Kolkata Knight Riders,field,N,Delhi Capitals,Runs,18.0,NaN,SS Iyer,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...","['Shubman Gill', 'SP Narine', 'N Rana', 'AD Ru...",VA Kulkarni,RK Illingworth
180,1216516,NaN,2020-10-02,2020/21,14,Sunrisers Hyderabad,Chennai Super Kings,Dubai International Cricket Stadium,Sunrisers Hyderabad,bat,N,Sunrisers Hyderabad,Runs,7.0,NaN,PK Garg,"['DA Warner', 'JM Bairstow', 'MK Pandey', 'KS ...","['F du Plessis', 'SR Watson', 'AT Rayudu', 'KM...",AK Chaudhary,PR Reiffel
181,1216503,Abu Dhabi,2020-10-01,2020/21,13,Mumbai Indians,Punjab Kings,Sheikh Zayed Stadium,Punjab Kings,field,N,Mumbai Indians,Runs,48.0,NaN,KA Pollard,"['Q de Kock', 'RG Sharma', 'SA Yadav', 'Ishan ...","['KL Rahul', 'MA Agarwal', 'KK Nair', 'N Poora...",VK Sharma,S Ravi
182,1216504,NaN,2020-09-30,2020/21,12,Kolkata Knight Riders,Rajasthan Royals,Dubai International Cricket Stadium,Rajasthan Royals,field,N,Kolkata Knight Riders,Runs,37.0,NaN,Shivam Mavi,"['Shubman Gill', 'SP Narine', 'N Rana', 'AD Ru...","['JC Buttler', 'SPD Smith', 'SV Samson', 'RV U...",KN Ananthapadmanabhan,C Shamshuddin
183,1216532,Abu Dhabi,2020-09-29,2020/21,11,Sunrisers Hyderabad,Delhi Capitals,Sheikh Zayed Stadium,Delhi Capitals,field,N,Sunrisers Hyderabad,Runs,15.0,NaN,Rashid Khan,"['DA Warner', 'JM Bairstow', 'MK Pandey', 'KS ...","['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...",VK Sharma,S Ravi
184,1216547,NaN,2020-09-28,2020/21,10,Royal Challengers Bangalore,Mumbai Indians,Dubai International Cricket Stadium,Mumbai Indians,field,Y,Royal Challengers Bangalore,SuperOver,NaN,NaN,AB de Villiers,"['D Padikkal', 'AJ Finch', 'V Kohli', 'AB de V...","['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...",Nitin Menon,PR Reiffel
185,1216527,NaN,2020-09-27,2020/21,9,Punjab Kings,Rajasthan Royals,Sharjah Cricket Stadium,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,4.0,NaN,SV Samson,"['KL Rahul', 'MA Agarwal', 'GJ Maxwell', 'N Po...","['JC Buttler', 'SPD Smith', 'SV Samson', 'R Te...",RK Illingworth,K Srinivasan
186,1216545,Abu Dhabi,2020-09-26,2020/21,8,Sunrisers Hyderabad,Kolkata Knight Riders,Sheikh Zayed Stadium,Sunrisers Hyderabad,bat,N,Kolkata Knight Riders,Wickets,7.0,NaN,Shubman Gill,"['DA Warner', 'JM Bairstow', 'MK Pandey', 'WP ...","['Shubman Gill', 'SP Narine', 'N Rana', 'KD Ka...",CB Gaffaney,VK Sharma
187,1216539,NaN,2020-09-25,2020/21,7,Delhi Capitals,Chennai Super Kings,Dubai International Cricket Stadium,Chennai Super Kings,field,N,Delhi Capitals,Runs,44.0,NaN,PP Shaw,"['PP Shaw', 'S Dhawan', 'RR Pant', 'SS Iyer', ...","['M Vijay', 'SR Watson', 'F du Plessis', 'RD G...",KN Ananthapadmanabhan,RK Illingworth
188,1216510,NaN,2020-09-24,2020/21,6,Punjab Kings,Royal Challengers Bangalore,Dubai International Cricket Stadium,Royal Challengers Bangalore,field,N,Punjab Kings,Runs,97.0,NaN,KL Rahul,"['KL Rahul', 'MA Agarwal', 'N Pooran', 'GJ Max...","['D Padikkal', 'AJ Finch', 'JR Philippe', 'V K...",AK Chaudhary,PR Reiffel
189,1216508,Abu Dhabi,2020-09-23,2020/21,5,Mumbai Indians,Kolkata Knight Riders,Sheikh Zayed Stadium,Kolkata Knight Riders,field,N,Mumbai Indians,Runs,49.0,NaN,RG Sharma,"['Q de Kock', 'RG Sharma', 'SA Yadav', 'SS Tiw...","['Shubman Gill', 'SP Narine', 'KD Karthik', 'N...",CB Gaffaney,S Ravi
190,1216496,NaN,2020-09-22,2020/21,4,Rajasthan Royals,Chennai Super Kings,Sharjah Cricket Stadium,Chennai Super Kings,field,N,Rajasthan Royals,Runs,16.0,NaN,SV Samson,"['YBK Jaiswal', 'SPD Smith', 'SV Samson', 'DA ...","['M Vijay', 'SR Watson', 'F du Plessis', 'SM C...",C Shamshuddin,VA Kulkarni
191,1216534,NaN,2020-09-21,2020/21,3,Royal Challengers Bangalore,Sunrisers Hyderabad,Dubai International Cricket Stadium,Sunrisers Hyderabad,field,N,Royal Challengers Bangalore,Runs,10.0,NaN,YS Chahal,"['D Padikkal', 'AJ Finch', 'V Kohli', 'AB de V...","['DA Warner', 'JM Bairstow', 'MK Pandey', 'PK ...",AY Dandekar,Nitin Menon
192,1216493,NaN,2020-09-20,2020/21,2,Delhi Capitals,Punjab Kings,Dubai International Cricket Stadium,Punjab Kings,field,Y,Delhi Capitals,SuperOver,NaN,NaN,MP Stoinis,"['PP Shaw', 'S Dhawan', 'SO Hetmyer', 'SS Iyer...","['KL Rahul', 'MA Agarwal', 'KK Nair', 'N Poora...",AK Chaudhary,Nitin Menon
193,1216492,Abu Dhabi,2020-09-19,2020/21,1,Mumbai Indians,Chennai Super Kings,Sheikh Zayed Stadium,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,5.0,NaN,AT Rayudu,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'SS Tiw...","['M Vijay', 'SR Watson', 'F du Plessis', 'AT R...",CB Gaffaney,VK Sharma

In [52]:
points_table = pd.DataFrame(columns= ['TeamName' , 'MatchesPlayed', 'MatchesWon', 'NoResult', 'Points'])
points_table

Empty DataFrame
Columns: [TeamName, MatchesPlayed, MatchesWon, NoResult, Points]
Index: []

In [53]:
points_table.TeamName = teams
points_table

                       TeamName MatchesPlayed MatchesWon NoResult Points
0              Rajasthan Royals           NaN        NaN      NaN    NaN
1   Royal Challengers Bangalore           NaN        NaN      NaN    NaN
2           Sunrisers Hyderabad           NaN        NaN      NaN    NaN
3                Delhi Capitals           NaN        NaN      NaN    NaN
4           Chennai Super Kings           NaN        NaN      NaN    NaN
5                Gujarat Titans           NaN        NaN      NaN    NaN
6          Lucknow Super Giants           NaN        NaN      NaN    NaN
7         Kolkata Knight Riders           NaN        NaN      NaN    NaN
8                  Punjab Kings           NaN        NaN      NaN    NaN
9                Mumbai Indians           NaN        NaN      NaN    NaN
10       Rising Pune Supergiant           NaN        NaN      NaN    NaN
11                Gujarat Lions           NaN        NaN      NaN    NaN
12                Pune Warriors           NaN        NaN      NaN    NaN
13              Deccan Chargers           NaN        NaN      NaN    NaN
14         Kochi Tuskers Kerala           NaN        NaN      NaN    NaN

In [54]:
for i in points_table.TeamName:
  print(i)

Rajasthan Royals
Royal Challengers Bangalore
Sunrisers Hyderabad
Delhi Capitals
Chennai Super Kings
Gujarat Titans
Lucknow Super Giants
Kolkata Knight Riders
Punjab Kings
Mumbai Indians
Rising Pune Supergiant
Gujarat Lions
Pune Warriors
Deccan Chargers
Kochi Tuskers Kerala

In [56]:
def point_table(seas):
  valid_seas = ['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08']
  if seas in valid_seas:
    seas_df = ipl_matches[ipl_matches['Season'] == seas]

    MatchesPlayed = 0
    MatchesWon = 0
    NoResult = 0
    points = 0

    # points_table = pd.DataFrame(columns= ['TeamName' , 'MatchesPlayed', 'MatchesWon', 'NoResult', 'Points'])
    # points_table.TeamName = teams
    points_table = points_table.set_index('TeamName')

    for team in points_table.TeamName:
      if (seas_df['Team1']) | (seas_df['Team2']) == team:
        # points_table['TeamName'].MatchesPlayed += 1
        points_table.loc[points_table.TeamName == team, 'MatchesPlayed'] += 1
      if ((seas_df['WinningTeam']) == team):
        points_table.loc[points_table.TeamName == team, 'MatchesWon'] += 1
        points_table.loc[points_table.TeamName == team, 'Points'] += 2
      if ((seas_df['WinningTeam']) != team):
        # points_table.loc[points_table.TeamName == team, 'MatchesWon'] += 1
        points_table.loc[points_table.TeamName == team, 'Points'] += 0
      if(seas_df['WonBy'] == 'NoResult'):
        points_table.loc[points_table.TeamName == seas_df['Team1'], 'Points'] += 1
        points_table.loc[points_table.TeamName == seas_df['Team2'], 'Points'] += 1
  else:
    print("Enter correct season from ['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08']")
  return points_table

# ipl_matches['Season']==2014.apply(point_table)

In [58]:
# import pandas as pd

VALID_SEAS = ['2022','2021','2020/21','2019','2018','2017','2016','2015',
              '2014','2013','2012','2011','2009/10','2009','2007/08']

def point_table(season):
    if season not in VALID_SEAS:
        raise ValueError(f"Season must be one of {VALID_SEAS}")

    # Filter matches of that season
    s = ipl_matches[ipl_matches['Season'] == season].copy()

    # All teams in this season
    teams = pd.Index(pd.unique(pd.concat([s['Team1'], s['Team2']]))).sort_values()

    # Create empty dataframe
    out = pd.DataFrame(index=teams)
    out.index.name = "TeamName"

    # Matches Played
    mp = pd.concat([s['Team1'], s['Team2']]).value_counts()
    out['MatchesPlayed'] = mp.reindex(teams, fill_value=0)

    # Matches Won
    won = s['WinningTeam'].value_counts()
    out['MatchesWon'] = won.reindex(teams, fill_value=0)

    # No Result (give 1 point to both teams)
    nr = s[s['WonBy'] == 'NoResult'][['Team1','Team2']]
    nr_count = pd.concat([nr['Team1'], nr['Team2']]).value_counts()
    out['NoResult'] = nr_count.reindex(teams, fill_value=0)

    # Points
    out['Points'] = out['MatchesWon'] * 2 + out['NoResult']

    # Sorting: Points descending, TeamName ascending
    out = out.sort_values(['Points','TeamName'], ascending=[False, True])

    return out

In [59]:
pt_2022 = point_table('2022')
print(pt_2022.head(2))

                  MatchesPlayed  MatchesWon  NoResult  Points
TeamName
Gujarat Titans               16          12         0      24
Rajasthan Royals             17          10         0      20

###`Q-10:` IPL Point Table cont.
Extend the above IPL Point Table with an extra column as `SeasonPosition`

Team below top 4 after sorting on `Points` and then on `TeamName` Will have same `SeasonPosition` as there rank. use rank function.

Teams in Top four will have `SeasonPosition` as:
```
    'Winner' - Team won final
    'Runner' - Team lost Final
    3 - Losing Team in Qualifier2
    4 - Losing Team in Eliminator
```

For changing value of pariticular cell use `df.at[row_index, col_label] = value`

Output of two Top 2 in season 2022. Your result should have all teams.
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points   SeasonPosition

Gujarat Titans	    16	   12	       0	     24         Winner
Rajasthan Royals	  17	   10	       0	     20         Runner

```

Note: If you try to chnage value of view of any dataframe a warnig will be shown. To avoid it, make a copy of the dataframe you want to change in by `df.copy()`