<a href="https://colab.research.google.com/github/Rohan-1103/Data-Science/blob/main/session_6_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [1]:
def remove_dups(lis):
  return [i for i in set(lis)]

list1 = [1,2,3,3,3,3,4,5]
print(remove_dups(list1))

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [2]:
def sort(seq):
  word = seq.split("-")
  sorting = sorted(word)
  string = "-".join(sorting)
  return print(string)

sens = "green-red-yellow-black-white"
sort(sens)

black-green-red-white-yellow

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [3]:
# Write code here

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [4]:
def sort_list(ls):
  return [i for i in ls if i % 2 == 0]

In [5]:
sample = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# [i for i in sample if i % 2 == 0]
sort_list(sample)

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [6]:
def perfect_num(num):
  sum1 = 0
  for i in range(1, num):
    # if i % num == 0:
    if num % i == 0:
      sum1 += i
  if sum1 == num:
    print(num, " is a perfect number.")
  else:
    print(num, " is not a perfect number.")

num = int(input("Enter number to check if it is perfect or not: "))
perfect_num(num)

Enter number to check if it is perfect or not: 9
9  is not a perfect number.

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [7]:
# def concate_dict(**kwargs):
#   return {i:j for i, j in kwargs.items()}

# dic1={1:10, 2:20}
# dic2={3:30, 4:40}
# dic3={5:50,6:60}

# print(concate_dict(dic1, dic2, dic3))

In [8]:
def concate_dict(*dicts):
    result = {}
    for d in dicts:
        result.update(d)
    return result

dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

print(concate_dict(dic1, dic2, dic3))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [9]:
def most_occr(strin):
  freq = {}
  word = strin.split(" ")

  for w in word:
    if w in freq:
      freq[w] += 1
    else:
      freq[w] = 1

  for key, value in sorted(freq.items(), reverse=True):
    print(key, "->", value)
    break

haal_chaal = "hello how are you i am fine thank you"
most_occr(haal_chaal)

you -> 2

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [10]:
def histo(int_list):
  # specific values
  histogram = {}
  sorted_list = sorted(int_list);

  for i in sorted_list:
    if i in histogram:
      histogram[range(i, i+10)] += 1
    else:
      histogram[range(i, i+10)] = 0
  return histogram

num_list = [13,42,15,37,22,39,41,50]
print(histo(num_list))

{range(13, 23): 0, range(15, 25): 0, range(22, 32): 0, range(37, 47): 0, range(39, 49): 0, range(41, 51): 0, range(42, 52): 0, range(50, 60): 0}

In [11]:
def histo(int_list):
    histogram = {}

    for num in int_list:
        lower = ((num - 1) // 10) * 10 + 1  # e.g., 13 -> 11
        upper = lower + 9                   # e.g., 11 -> 20
        bin_label = f"{lower}-{upper}"
        histogram[bin_label] = histogram.get(bin_label, 0) + 1
    return histogram

num_list = [13, 42, 15, 37, 22, 39, 41, 50]
histo(num_list)

{'11-20': 2, '41-50': 3, '31-40': 2, '21-30': 1}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [12]:
import math

def nearest_point(coords, query):
    # Initialize with first point's data
    nearest = coords[0]
    min_dist = math.dist(coords[0], query)

    # Loop through all coordinates
    for point in coords[1:]:
        dist = math.dist(point, query)
        if dist < min_dist:
            min_dist = dist
            nearest = point

    print(f"Nearest to {query} is {nearest}")

list_tup = [(7,7),(4,4),(1,1),(5,5)]
query_point = (2, 2)
nearest_point(list_tup, query_point)

Nearest to (2, 2) is (1, 1)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [13]:
# def BoG(LoS):
#     bag = {}

#     for items in LoS:
#         words = items.split(" ")
#         for word in words:
#             if word in bag:
#                 bag[word] += 1
#             else:
#                 bag[word] = 1
#     return bag

def BoG(LoS):
    bag = {}
    for items in LoS:
        for word in items.split():
            bag[word] = bag.get(word, 0) + 1
    return bag

list_of_strings = ["My name is Rohan Goswami", "My E-main id is rohangoswami1134@gmail.com", "My Linkedin id is 'https://www.linkedin.com/in/rohan-goswami-039755249/'"]
print(BoG(list_of_strings))

{'My': 3, 'name': 1, 'is': 3, 'Rohan': 1, 'Goswami': 1, 'E-main': 1, 'id': 2, 'rohangoswami1134@gmail.com': 1, 'Linkedin': 1, "'https://www.linkedin.com/in/rohan-goswami-039755249/'": 1}

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [14]:
result = list(map(lambda a, b, c: a + b + c, [11, 11, 15, 31], [3, 3, 3, 12], [25, 1, 24, 19]))
print(result)

[39, 15, 42, 62]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [15]:
# list(map(lambda x:x**x, [1, 2, 3, 4, 5, 6]))

# If you wanted the base as list value and exponent as its index,
# the code would be different:
list1 = [1,2,3,4,5,6]

result = list(map(lambda x, i: x**i, list1, range(len(list1))))
print(result)

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [16]:
string = "Using filter(), list() functions and.lower() method filter all the vowels in a given string."
result = list(filter(lambda ch: ch.lower() in ['a', 'e', 'i', 'o', 'u'], string))
print(result)

['U', 'i', 'i', 'e', 'i', 'u', 'i', 'o', 'a', 'o', 'e', 'e', 'o', 'i', 'e', 'a', 'e', 'o', 'e', 'i', 'a', 'i', 'e', 'i']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [17]:
def reduce_list(d_list):
  return [j for item in d_list for j in item]

listlist = [[11, 3], [31, 12]]
print(reduce_list(listlist))

[11, 3, 31, 12]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [18]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [19]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']